# exclude all by default

*

# exceptions from `exclude all` rule

!package.json
!yarn.lock
!.yarn
!.yarn/**
!.yarnrc.yml

!tsconfig.json
!webpack
!webpack/**
!webpack.config.js
!src
!src/main
!src/main/**
!config
!config/**
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
!.eslintrc.js
!.eslintignore
