# exclude all by default

*

# exceptions from `exclude all` rule

!package.json
!yarn.lock

!tsconfig.json
!webpack
!webpack/**
!src
src/*
!src/main
!src/main/**
!config
!config/**
!webpack.config.js
!.yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
!.eslintrc.js
!.eslintignore
!.yarnrc.yml
!node_modules
