{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

<form class="form" id="main-form" method="post" action="" novalidate="true">
  <input type="hidden" name="_csrf" value={{ csrfToken }}>
  {% block form_content %}
    {% include "./fields.njk" %}
    {% if "got-a-notice-period" in currentUrl %}
      {{ govukInsetText({
        text: noticeLengthInsetText
      }) }}
    {% endif %}
  {% endblock %}

  {% include "./saveButtons.njk" %}
</form>
