{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

<form class="form" id="main-form" method="post" action="" novalidate="true">
  <input type="hidden" name="_csrf" value={{ csrfToken }}>
  {% block form_content %}
    {% include "./fields.njk" %}
    {% if "got-a-notice-period" in currentUrl %}
     <p class="govuk-body">
     <a href="{{PageUrls.NOTICE_PERIOD}}?redirect=clearSelection&{{languageParam}}" class="govuk-link">{{ clearSelection }}</a>
     </p>
    {{ govukInsetText({
     text: noticeLengthInsetText
    }) }}
    {% endif %}

     {% if "/notice-type" in currentUrl %}
        <p class="govuk-body">
        <a href="{{PageUrls.NOTICE_TYPE}}?redirect=clearSelection&{{languageParam}}" class="govuk-link">{{ clearSelection }}</a>
        </p>
     {% endif %}

     {% if "/pay" in currentUrl %}
        <p class="govuk-body">
        <a href="{{PageUrls.PAY}}?redirect=clearSelection&{{languageParam}}" class="govuk-link">{{ clearSelection }}</a>
        </p>
     {% endif %}

     {% if "/pension" in currentUrl %}
        <p class="govuk-body">
        <a href="{{PageUrls.PENSION}}?redirect=clearSelection&{{languageParam}}" class="govuk-link">{{ clearSelection }}</a>
        </p>
     {% endif %}

     {% if "/benefits" in currentUrl %}
        <p class="govuk-body">
        <a href="{{PageUrls.BENEFITS}}?redirect=clearSelection&{{languageParam}}" class="govuk-link">{{ clearSelection }}</a>
        </p>
     {% endif %}

     {% if "/new-job-pay" in currentUrl %}
        <p class="govuk-body">
        <a href="{{PageUrls.NEW_JOB_PAY}}?redirect=clearSelection&{{languageParam}}" class="govuk-link">{{ clearSelection }}</a>
        </p>
     {% endif %}

     {% if "/new-job" in currentUrl and "/new-job-pay" not in currentUrl and "/new-job-start-date" not in currentUrl %}
        <p class="govuk-body">
        <a href="{{PageUrls.NEW_JOB}}?redirect=clearSelection&{{languageParam}}" class="govuk-link">{{ clearSelection }}</a>
        </p>
     {% endif %}

     {% if "/new-job-start-date" in currentUrl %}
         <p class="govuk-body">
         <a href="{{PageUrls.NEW_JOB_START_DATE}}?redirect=clearSelection&{{languageParam}}" class="govuk-link">{{ clearSelection }}</a>
         </p>
     {% endif %}
  {% endblock %}

  <div class="govuk-form-group">
    {{
      govukButton({
        text: getContent(form.submit.text),
        classes: form.submit.classes,
        type: "submit",
        preventDoubleClick: true,
        attributes: {
          id: 'main-form-submit'
        }
      }) if getContent(form.submit.text)
    }}

    {{
      govukButton({
        text: getContent(form.saveForLater.text),
        classes: form.saveForLater.classes,
        preventDoubleClick: true,
        name: 'saveForLater',
        value: true,
        attributes: {
          id: 'main-form-save-for-later'
        },
        value: true
      }) if getContent(form.saveForLater.text)
    }}
  </div>
</form>
