{% from "govuk/components/button/macro.njk" import govukButton %}

<form class="form" id="main-form" method="post" action="" novalidate="novalidate">
  <input type="hidden" name="_csrf" id="csrfToken" value="12345">
  {% block form_content %}
    {% include "./fields.njk" %}
  {% endblock %}

  <div class="govuk-form-group">
    {{ 
      govukButton({
        text: getContent(form.submit.text),
        classes: form.submit.classes,
        type: "submit",
        preventDoubleClick: true,
        attributes: {
          id: 'main-form-submit'
        }
      }) if getContent(form.submit.text)
    }}

    {{ 
      govukButton({
        text: getContent(form.saveForLater.text),
        classes: form.saveForLater.classes,
        preventDoubleClick: true,
        attributes: {
          id: 'main-form-save-for-later'
        }
      }) if getContent(form.saveForLater.text)
    }}
  </div>
</form>
