{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

<div id="enterPostcode">
  <form id="postcodeLookup">
    {{ govukInput({
      id: "postcode",
      name: "postcode",
      classes: "govuk-input--width-10",
      label: {
        text: enterPostcode
      }
    }) }}

    <div class="govuk-button-group">
      {{ govukButton({
        attributes: {
          id: "findAddressButton"
        },
        text: findAddress,
        type: "submit",
        preventDoubleClick: true
      }) }}
      {{ govukButton({
            text: "Save as draft",
            classes: "govuk-button--secondary",
            href: "/your-claim-has-been-saved"
      }) }}
    </div> 
  </form>
  <a href="#" id="manualAddress" class="govuk-link">{{ manualAddress }}</a>
</div>