{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

<div id="enterPostcode">
  <form id="postcodeLookup">
    {{ govukInput({
      id: "postcode",
      name: "postcode",
      classes: "govuk-input--width-10",
      label: {
        text: enterPostcode
      }
    }) }}
    {{ govukButton({
      attributes: {
        id: "findAddressButton"
      },
      text: findAddress,
      type: "submit",
      classes: "govuk-!-margin-right-2",
      preventDoubleClick: true
    }) }}

    {{ govukButton({
          attributes: {
            id: "saveAsDraftButton"
          },
          text: saveAsDraft,
          href: "",
          classes: "govuk-button--secondary",
          preventDoubleClick: true
        }) }}
  </form>
  <a href="#" id="manualAddress" class="govuk-link">{{ manualAddress }}</a>
</div>
