{% macro webChatModal() %}
<!-- Place this code snippet anywhere you want the button to appear in your page. If no button has been configured in the chat script, it will not show up nor take any space. --><div id="__8x8-chat-button-container-script_2115543276374ba332815a6.91005946"></div> <!-- This script will not interfere with the button layout, you just need to include it in the same page. It must also be within the <body> section of the page, preferably just before the ending tag. -->
<script type="text/javascript">
  window.__8x8Chat = {
    uuid: "script_2115543276374ba332815a6.91005946",
    tenant: "aG1jdHN4MTAx",
    channel: "Scotland_Tribunal_ET_Webchat",
    domain: "https://vcc-eu4.8x8.com",
    path: "/.",
    buttonContainerId: "__8x8-chat-button-container-script_2115543276374ba332815a6.91005946",
    align: "right"
  };
  (function() {
    var se = document.createElement("script");
    se.type = "text/javascript";
    se.async = true;
    se.src = window.__8x8Chat.domain + window.__8x8Chat.path + "/CHAT/common/js/chat.js";
    var os = document.getElementsByTagName("script")[0];
    os.parentNode.insertBefore(se, os);
  })();
</script>
{% endmacro %}
