@import 'govuk-frontend';
@import './utilities/borders';
@import 'patterns/task-list';
@import 'patterns/timeout-modal';
@import './cookies/cookie-banner';

$govuk-grey: #b1b4b6;
$govuk-blue: #1d70b8;
$lightgrey-panel: #d3d3d3;

.govuk-phase-banner__text {
  width: 100%;

  .language {
    float: right;
  }
}

// interupt the user with important information
.govuk-panel--interruption {
  background-color: govuk-colour('blue');
  margin-bottom: govuk-spacing(3);
  padding: govuk-spacing(6);

  .govuk-panel__title {
    @include govuk-font($size: 24, $weight: bold);
  }

  .govuk-panel__body {
    @include govuk-font($size: 16, $weight: bold);
  }

  div,
  h1,
  h2,
  h3,
  h4,
  p,
  ul,
  ol {
    color: govuk-colour('white');
    text-align: left;
  }
}

.multiple-panel {
  align-items: center;
  background: $lightgrey-panel;
  display: flex;
  justify-content: center;
  padding-top: 21px;
}

.circle {
  background: govuk-colour('black');
  border-radius: 50%;
  color: govuk-colour('white');
  display: inline-block;
  font-family: 'ntatabularnumbers', 'nta', Arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.circle-step {
  float: left;
  line-height: 25px;
  margin-right: 10px;
  min-height: 25px;
  min-width: 25px;
}

.circle-white {
  background: govuk-colour('white');
  color: govuk-colour('blue');
}

.hidden {
  display: none;
}

.tel-link {
  color: govuk-colour('blue');
}

// IOS
@media only screen and (max-device-width: 760px) {
  * {
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
}

// Android & Windows-CE
@media screen and (max-device-width: 760px) {
  * {
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
}

// Safari
@media screen and (max-width: 760px) {
  * {
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
}

// ==========================================================================
// #PROGRESS BAR
// ==========================================================================

.hmcts-progress-bar {
  margin-bottom: govuk-spacing(7);
}

.hmcts-progress-bar__list {
  font-size: 0; // Hide white space between elements
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: justify;
  vertical-align: top;

  &::after {
    content: '';
    display: inline-block;
    width: 100%;
  }

  &::before {
    border-top: 6px solid govuk-colour('green');
    content: '';
    left: 0;
    position: absolute;
    top: 13px;
    width: 100%;
  }
}

.hmcts-progress-bar__list-item {
  @include govuk-font(19);
  display: inline-block;
  max-width: 20%;
  position: relative;
  text-align: center;
  vertical-align: top;

  &:first-child,
  &:last-child {
    &::before {
      border-top: 6px solid govuk-colour('white');
      content: '';
      left: 0;
      position: absolute;
      top: 13px;
      width: 50%;
    }
  }

  &:first-child {
    &::before {
      left: 0;
    }
  }

  &:last-child {
    &::before {
      left: auto;
      right: 0;
    }
  }

  &[aria-current='step'] {
    // https://tink.uk/using-the-aria-current-attribute
    font-weight: 700;
  }
}

.hmcts-progress-bar__icon {
  background-color: govuk-colour('white');
  border: 6px solid govuk-colour('green');
  border-radius: 50%; // IE8 does not support border radius but we’re ok with that
  box-sizing: border-box;
  display: block;
  height: 32px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 32px;
}

.hmcts-progress-bar__icon--complete {
  background-color: govuk-colour('green');
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.hmcts-progress-bar__label {
  @include govuk-font(16);
  display: block;
  font-weight: inherit;
  margin-top: 10px;
  position: relative;
  word-wrap: break-word; // Just in case
}

.top-border-blue {
  border-top: 2px solid $govuk-blue;
  padding-top: 40px;
}

.no-text-transform {
  text-transform: none;
}

.scrollableTable {
  .govuk-table {
    display: block;
    overflow-x: auto;
  }
}

@media (min-width: 48.0625em) {
  .govuk-header__logo {
    width: fit-content;
  }

  .govuk-header__content {
    float: right;
    width: fit-content;
  }
}

.govuk-header__navigation-item {
  &:last-child {
    float: right;
  }
}
