{% extends "template.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% block beforeContent %}
  {{ super() }}
  {% include "back-link.njk"%}
{% endblock %}

{% block content %}

  <section>
    <h1 class="govuk-heading-l">{{ header1 }}</h1>
    <p class="govuk-body">{{ paragraph_s1_1.part_1 }} <a target="_blank" href="https://www.claim-employment-tribunals.service.gov.uk">https://www.claim-employment-tribunals.service.gov.uk {{ opens_new_tab }}</a> {{ paragraph_s1_1.part_2 }}</p>
    <p class="govuk-body">{{ paragraph_s1_2 }}</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>{{ ableTo1 }}</li>
      <li>{{ ableTo2 }}</li>
      <li>{{ ableTo3 }}</li>
      <li>{{ ableTo4 }}</li>
      <li>{{ ableTo5 }}</li>
    </ul>
    <p class="govuk-body">{{ paragraph_s1_3 }}</p>
    <p class="govuk-body"><a target="_blank" href="https://mcmw.abilitynet.org.uk/">{{ paragraph_s1_4.part_1 }}</a> {{ paragraph_s1_4.part_2 }}.</p>
  </section>
  <section>
    <h2 class="govuk-heading-m">{{ header2 }}</h2>
    <p class="govuk-body">{{ paragraph_s2_1 }}</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>{{ notAccessible1 }}</li>
      <li>{{ notAccessible2 }}</li>
      <li>{{ notAccessible3 }}</li>
      <li>{{ notAccessible4 }}</li>
      <li>{{ notAccessible5 }}</li>
      <li>{{ notAccessible6 }}</li>
    </ul>
  </section>

  <section>
    <h2 class="govuk-heading-m">{{ header3 }}</h2>
    <p class="govuk-body">{{ paragraph_s3_1 }}</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>{{ contactType1 }} <a href="mailto:HMCTSforms@justice.gov.uk">HMCTSforms@justice.gov.uk</a></li>
      <li>{{ contactType2 }}</li>
      <li>{{ contactType3 }}</li>
      <li>{{ contactType4 }}</li>
    </ul>
    <p class="govuk-body">{{ paragraph_s3_2 }}<a target="_blank" href="https://www.gov.uk/call-charges"> {{ paragraph_s3_2_call_charges }}</a></p>
    <p class="govuk-body">{{ paragraph_s3_3 }}</p>
  </section>

  <section>
    <h2 class="govuk-heading-m">{{ header4 }}</h2>
    <p class="govuk-body">{{ paragraph_s4_1 }}</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>{{ contactInfo1 }} <a href="mailto:employmentjurisdictionalsupportteaminbox@justice.gov.uk ">employmentjurisdictionalsupportteaminbox@justice.gov.uk </a></li>
      <li>{{ contactInfo2 }}</li>
      <li>{{ contactInfo3 }}</li>
      <li>{{ contactInfo4 }}</li>
    </ul>
    <p class="govuk-body">{{ paragraph_s4_2 }}<a target="_blank" href="https://www.gov.uk/call-charges"> {{ paragraph_s3_2_call_charges }}</a></p>
  </section>

  <section>
    <h2 class="govuk-heading-m">{{ header5 }}</h2>
    <p class="govuk-body">{{ paragraph_s5_1 }} <a target="_blank" href="https://www.equalityadvisoryservice.com/">{{ paragraph_s5_2 }}</a>.</p>
  </section>

  <section>
    <h2 class="govuk-heading-m">{{ header6 }}</h2>
    <p class="govuk-body">{{ paragraph_s6_1 }}</p>
    <p class="govuk-body">{{ paragraph_s6_2 }}</p>
    <p class="govuk-body">{{ paragraph_s6_3 }} <a target="_blank" href="https://www.gov.uk/guidance/employment-tribunal-offices-and-venues">{{ paragraph_s6_4 }}</a>.</p>
  </section>

  <section>
    <h2 class="govuk-heading-m">{{ header7 }}</h2>
    <p class="govuk-body">{{ paragraph_s7_1 }}</p>
  </section>

  <section>
    <h2 class="govuk-heading-m">{{ header8 }}</h2>
    <p class="govuk-body">{{ paragraph_s8_1.part_1 }} <a target="_blank" href="http://www.w3.org/TR/WCAG22/">{{ paragraph_s8_1.part_2 }}</a> {{ paragraph_s8_1.part_3 }}</p>
  </section>

  <section>
    <h2 class="govuk-heading-m">{{ header9 }}</h2>
    <p class="govuk-body">{{ paragraph_s9_1 }}</p>
    <h3 class="govuk-heading-s">{{ nonComplianceReason1 }}</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li> {{ nonCompliance_1_1 }} </li>
      <li> {{ nonCompliance_1_2 }} </li>
      <li> {{ nonCompliance_1_3 }} </li>
      <li> {{ nonCompliance_1_4 }} </li>
      <li> {{ nonCompliance_1_5 }} </li>
      <li> {{ nonCompliance_1_6 }} </li>
      <li> {{ nonCompliance_1_7 }} </li>
    </ul>
  </section>

  <section>
    <h2 class="govuk-heading-m">{{ header10 }}</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li> {{ paragraph_s10_1 }} </li>
      <li> {{ paragraph_s10_2 }} </li>
    </ul>
  </section>

  <section>
    <h2 class="govuk-heading-m">{{ header11 }}</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li> {{ paragraph_s11_1 }} </li>
      <li> {{ paragraph_s11_2 }} </li>
    </ul>
  </section>


{% endblock %}
