{% extends "template.njk" %}

{% block beforeContent %}
  {{ super() }}
  {% include "back-link.njk"%}
{% endblock %}

{% block content %}
  {% block errorSummary %}
    {% include "error-summary.njk" %}
  {% endblock %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4 ">{{ addressPageHeader }}</h1>
       <p class="govuk-body">{{ addressPageText }}</p>
      {% block form %}
        {% include "form/form.njk" %}
      {% endblock %}
        <p class="govuk-body">
            <a href="{{ link }}" id="manualAddress" class="govuk-link" target="_self">{{ manualAddress }}</a>
         </p>
    </div>
  </div>
{% endblock %}
