
{% extends "template.njk" %}

{% block beforeContent %}
  {{ super() }}
  {% include "back-link.njk"%}
{% endblock %}

{% block content %}
<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">{{h1}}</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">{{table.date}}</th>
      <th scope="col" class="govuk-table__header">{{table.app}}</th>
      <th scope="col" class="govuk-table__header">{{table.status}}</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    {% for row in rows %}
        <tr class="govuk-table__row">
        <td class="govuk-table__cell">{{row.date}}</td>
        <td class="govuk-table__cell">{{row.app}}</td>
        <td class="govuk-table__cell">{{row.status}}</td>
        </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}


{% block footer %}
  {{ super() }}
{% endblock %}