{% extends "template.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block beforeContent %}
  {{ super() }}
  {% include "back-link.njk"%}
{% endblock %}

{% block content %}
  <div class="govuk-!-width-two-thirds">
    {{ govukPanel({
      titleText: "You have sent your application to the tribunal"
    }) }}

    <p class="govuk-heading-m">What happens next</p>
    <p class="govuk-body">The tribunal will consider all correspondence and let you know what happens next.</p>

    {{
    govukButton({
      text: "Close and return to case overview",
      classes: 'govuk-!-margin-right-2',
      type: "submit",
      preventDoubleClick: true,
      attributes: {
        id: 'return-to-case-overview'
      }
    })
    }}
  </div>
{% endblock %}
