{% extends "template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block beforeContent %}
  {{ super() }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: titleText
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-6">{{ pHead }}</h2>
      {% if rule92 %}
        <p class="govuk-body">{{ pYes.p1 }}<b>{{ applicationDate }}</b>{{ pYes.p1a }}</p>
        {% if isGroupClaim %}
          <p class="govuk-body">{{ pYes.p2 }}</p>
        {% endif %}
        <p class="govuk-body">{{ pYes.p3 }}</p>
        <p class="govuk-body">{{ viewAppPrefix }}<a href="{{ yourApplicationsUrl }}" class="govuk-link">{% if isGroupClaim %}{{ viewAppLink }}{% else %}{{ viewAppLinkSingle if viewAppLinkSingle else "your applications" }}{% endif %}</a>{{ viewAppSuffix }}</p>
      {% else %}
        <p class="govuk-body">{{ pNo }}</p>
        <p class="govuk-body">{{ viewAppPrefixNo }}<a href="{{ yourApplicationsUrl }}" class="govuk-link">{% if isGroupClaim %}{{ viewAppLink }}{% else %}{{ viewAppLinkSingle if viewAppLinkSingle else "your applications" }}{% endif %}</a>{{ viewAppSuffix }}</p>
      {% endif %}

      <div class="govuk-button-group govuk-!-margin-top-6">
        {{ govukButton({
          text: button,
          href: redirectUrl
        }) }}
      </div>
    </div>
  </div>
{% endblock %}