{% extends "template.njk" %}

{% set pageHeading = "Appoint a legal representative" %}
{% set pageSection = "" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        {{ pageHeading }}
      </h1>

      <p class="govuk-body">
        You have chosen to appoint a legal representative so you will need to give the following information
        to your solicitor so they can perform a Notice of Change.
      </p>

      <h2 class="govuk-heading-m">Your Claim Details</h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Case reference
          </dt>
          <dd class="govuk-summary-list__value">
            {{ userCase.id }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Tribunal Case Number
          </dt>
          <dd class="govuk-summary-list__value">
            {{ userCase.ethosCaseReference }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Claimant name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ userCase.firstName + ' ' + userCase.lastName }}
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Download documents</h2>
      <p class="govuk-body">
        You  may also wish to
        <a href="{{ PageUrls.ALL_DOCUMENTS }}" class="govuk-link">
          download all your documents
        </a>
        so you may share them with your legal representative.
      </p>
    </div>
  </div>
{% endblock %}
