{% extends "template.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block beforeContent %}
  {{ super() }}
  {% include "back-link.njk"%}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row ">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">{{ title }}</h1>
    </div>
  </div>

  {{ govukSummaryList({
    rows: rule92AnswerDetails
  }) }}

  <p class="govuk-body">{{youCannotMakeFurtherChanges}}</p>

  <div class="govuk-form-group">
    {{ govukButton({
      text: storeApplication,
      classes: 'govuk-!-margin-right-2',
      type: "submit",
      preventDoubleClick: true,
      attributes: {
        id: 'main-form-submit'
      }
    }) }}
  </div>

{% endblock %}
