{% extends "template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ super() }}
  {% include "back-link.njk"%}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
      <p class="govuk-body-m">{{ claimCheckListTitle }}</p>
      <ol class="govuk-list govuk-list--number">
        <li>{{ claimCheckListItem1 }}</li>
        <li>{{ claimCheckListItem2 }}</li>
        <li>{{ claimCheckListItem3 }}</li>
      </ol>
      <p class="govuk-body-m">{{ claimCheckListReminder }}</p>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    {{ govukButton({
      text: continue,
      href: redirectUrl,
      preventDoubleClick: true
    }) }}
    </div>
  </div>
{% endblock %}
