{% extends "template.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block beforeContent %}
  {{ super() }}
  {% include "back-link.njk"%}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row ">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">{{ h1 }}</h1>
      <p class="govuk-body govuk-!-margin-bottom-8">{{ des }}</p>
    </div>
  </div>

  {{ 
    govukSummaryList({
      rows: [
        {
          key: {
            text: applicationDetails.header,
            classes: "govuk-heading-m"
          }
        },
        {
          key: {
            text: applicationDetails.typeOfClaim,
            classes: "govuk-!-font-weight-regular-m"
          },
          value: {
            text: userCase.typeOfClaim
          },
          actions: {
            items: [
              {
                href: PageUrls.TYPE_OF_CLAIM,
                text: "Change",
                visuallyHiddenText: applicationDetails.typeOfClaim
              }
            ]
          } 
        }
      ]
    }) 
  }}

  {{
    govukSummaryList({
      rows: [
        {
          key: {
            text: personalDetails.header,
            classes: "govuk-heading-m"
          }
        },
        {
          key: {
            text: personalDetails.dob,
            classes: "govuk-!-font-weight-regular-m"
          },
          value: {
            text: "" if userCase.dobDate.day === undefined else userCase.dobDate.day+"-"+userCase.dobDate.month+"-"+userCase.dobDate.year
          },
          actions: {
            items: [
              {
                href: PageUrls.DOB_DETAILS,
                text: "Change",
                visuallyHiddenText: personalDetails.dob
              }
            ]
          } 
        },
        {
          key: {
            text: personalDetails.gender,
            classes: "govuk-!-font-weight-regular-m"
          },
          value: {
            text: userCase.gender
          },
          actions: {
            items: [
              {
                href: PageUrls.GENDER_DETAILS,
                text: "Change",
                visuallyHiddenText: personalDetails.gender
              }
            ]
          } 
        },
        {
          key: {
            text: personalDetails.genderIdentity,
            classes: "govuk-!-font-weight-regular-m"
          },
          value: {
            text: userCase.genderIdentitySame
          },
          actions: {
            items: [
              {
                href: PageUrls.GENDER_DETAILS,
                text: "Change",
                visuallyHiddenText: personalDetails.genderIdentity
              }
            ]
          } 
        },
        {
          key: {
            text: personalDetails.title,
            classes: "govuk-!-font-weight-regular-m"
          },
          value: {
             text: "Not Selected" if userCase.preferredTitle
          },

          actions: {
            items: [
              {
                href: PageUrls.GENDER_DETAILS,
                text: "Change",
                visuallyHiddenText: personalDetails.title
              }
            ]
          } 
        },
        {
          key: {
          text: personalDetails.contactOrHomeAddress,
          classes: "govuk-!-font-weight-regular-m"
          },
          value: {
            text: "" if userCase.address1 === undefined else userCase.address1+", "+userCase.addressCounty+", "+userCase.addressPostcode+", "+userCase.addressTown
          },
          actions: {
            items: [
              {
                href: PageUrls.ADDRESS_DETAILS,
                text: "Change",
                visuallyHiddenText: personalDetails.contactOrHomeAddress
              }
            ]
          }
        },
        {
          key: {
            text: contactDetails.telephone,
            classes: "govuk-!-font-weight-regular-m"
          },
          value: {
            text: "Not Provided" if userCase.telNumber.length === 0 else userCase.telNumber
          },
          actions: {
            items: [
              {
                href: PageUrls.TELEPHONE_NUMBER,
                text: "Change",
                visuallyHiddenText: contactDetails.telephone
              }
            ]
          } 
        },
        {
          key: {
            text: personalDetails.howToBeContacted,
            classes: "govuk-!-font-weight-regular-m"
          },
          value: {
            text: userCase.updatePreference
          },
          actions: {
            items: [
              {
                href: PageUrls.UPDATE_PREFERENCES,
                text: "Change",
                visuallyHiddenText: personalDetails.howToBeContacted
              }
            ]
          } 
        },
        {
          key: {
            text: personalDetails.takePartInHearing,
            classes: "govuk-!-font-weight-regular-m"
          },
          value: {
            text: userCase.hearing_preferences
          },
          actions: {
            items: [
              {
                href: PageUrls.VIDEO_HEARINGS,
                text: "Change",
                visuallyHiddenText: personalDetails.takePartInHearing
              }
            ]
          } 
        },
        {
          key: {
            text: personalDetails.disability,
            classes: "govuk-!-font-weight-regular-m"
          },
          value: {
            text: userCase.reasonableAdjustments if userCase.reasonableAdjustments === "No" else userCase.reasonableAdjustments + ", " + userCase.reasonableAdjustmentsDetail 
          },
          actions: {
            items: [
              {
                href: PageUrls.REASONABLE_ADJUSTMENTS,
                text: "Change",
                visuallyHiddenText: personalDetails.disability
              }
            ]
          } 
        }
      ]
    }) 
  }}
 
 {% include "employer-working.njk" %}

 {% if userCase.isStillWorking === "No longer working" %}
    {% include "employer-no-longer-working.njk" %}
  {% endif %}
  
  {% for respondent in respondents %}
  {{ 
    govukSummaryList({
      rows: [
        {
          key: {
            text: respodentDetails.header,
            classes: "govuk-heading-m"
          }
        },
        {
          key: {
            text: respodentDetails.respondentName,
            classes: "govuk-!-font-weight-regular-m"
          },
          value: {
            text: respondent.respondentName
          },
          actions: {
            items: [
              { 
                href: '/respondent/' + respondent.respondentNumber + PageUrls.RESPONDENT_NAME,
                text: "Change",
                visuallyHiddenText: respodentDetails.respondentName
              }
            ]
          } 
        },
        {
          key: {
            text: respodentDetails.respondentAddress,
            classes: "govuk-!-font-weight-regular-m"
          },
          value: {
            text: userCase.respondentAddress1+", "+userCase.respondentAddressCountry+", "+userCase.respondentAddressPostcode+" "+userCase.respondentAddressTown
            if userCase.respondentAddress1 
          },
          actions: {
            items: [
              {
                href: '/respondent/' + respondent.respondentNumber + PageUrls.RESPONDENT_ADDRESS,
                text: "Change",
                visuallyHiddenText: respodentDetails.respondentAddress
              }
            ]
          } 
        },
        {
          key: {
            text: respodentDetails.workedAtRespondent,
            classes: "govuk-!-font-weight-regular-m"
          },
          value: {
            text: userCase.claimantWorkAddressQuestion
          },
          actions: {
            items: [
              {
                href: '/respondent/' + respondent.respondentNumber + PageUrls.WORK_ADDRESS,
                text: "Change",
                visuallyHiddenText: respodentDetails.workedAtRespondent
              }
            ]
          } 
        },
        {
          key: {
            text: respodentDetails.addressWorkedAt,
            classes: "govuk-!-font-weight-regular-m"
          },
          value: {
            text: userCase.workAddress1+", "+userCase.workAddressCounty+", "+
            userCase.workAddressPostcode+", "+userCase.workAddressTown if userCase.claimantWorkAddressQuestion === "No" else ""
          },
          actions: {
            items: [
              {
                href: '/respondent/' + respondent.respondentNumber + PageUrls.PLACE_OF_WORK,
                text: "Change",
                visuallyHiddenText: respodentDetails.addressWorkedAt
              }
            ]
          } 
        },
        {
          key: {
            text: respodentDetails.acasNumber,
            classes: "govuk-!-font-weight-regular-m"
          },
          value: {
            text: userCase.acasCert+": "+userCase.acasCertNum if userCase.acasCert === "Yes"
            else userCase.acasCert
          },
          actions: {
            items: [
              {
                href: '/respondent/' + respondent.respondentNumber + PageUrls.ACAS_CERT_NUM,
                text: "Change",
                visuallyHiddenText: respodentDetails.acasNumber
              }
            ]
          } 
        },
        {
          key: {
            text: respodentDetails.noAcasReason,
            classes: "govuk-!-font-weight-regular-m"
          },
          value: {
            text: userCase.noAcasReason if userCase.acasCert === "No"
          },
          actions: {
            items: [
              {
                href: '/respondent/' + respondent.respondentNumber + PageUrls.NO_ACAS_NUMBER,
                text: "Change",
                visuallyHiddenText: respodentDetails.noAcasReason
              }
            ]
          } 
        }
      ]
    }) 
  }}
  {% endfor %}

  {{ 
    govukSummaryList({
      rows: [
        {
          key: {
            text: claimDetails.header,
            classes: "govuk-heading-m"
          }
        },
        {
          key: {
            text: claimDetails.claimType,
            classes: "govuk-!-font-weight-regular-m"
          },
          value: {
            text: userCase.claimTypeDiscrimination
          },
          actions: {
            items: [
              {
                href: PageUrls.CLAIM_TYPE_DISCRIMINATION,
                text: "Change",
                visuallyHiddenText: claimDetails.claimType
              }
            ]
          } 
        },
        {
          key: {
            text: claimDetails.describeWhatHappened,
            classes: "govuk-!-font-weight-regular-m"
          },
          value: {
            text: userCase.claimSummaryText
          },
          actions: {
            items: [
              {
                href: PageUrls.DESCRIBE_WHAT_HAPPENED,
                text: "Change",
                visuallyHiddenText: claimDetails.describeWhatHappened
              }
            ]
          } 
        },
        {
          key: {
            text: claimDetails.ifClaimSuccessful,
            classes: "govuk-!-font-weight-regular-m"
          },
          value: {
            text: userCase.tellUsWhatYouWant
          },
          actions: {
            items: [
              {
                href: PageUrls.TELL_US_WHAT_YOU_WANT,
                text: "Change",
                visuallyHiddenText: yourPreferences.ifClaimSuccessful
              }
            ]
          } 
        },
        {
          key: {
            text: claimDetails.expectedCompensation,
            classes: "govuk-!-font-weight-regular-m"
          },
          value: {
            text: userCase.compensationOutcome + ": "+ userCase.compensationAmount if userCase.tellUsWhatYouWant.includes("compensationOnly")
          },
          actions: {
            items: [
              {
                href: PageUrls.COMPENSATION,
                text: "Change",
                visuallyHiddenText: yourPreferences.expectedCompensation
              }
            ]
          } 
        },
        {
          key: {
            text: claimDetails.expectedTribunalsRecommendation,
            classes: "govuk-!-font-weight-regular-m"
          },
          value: {
            text: userCase.tribunalRecommendationRequest if userCase.tellUsWhatYouWant.includes("tribunalRecommendation")
          },
          actions: {
            items: [
              {
                href: PageUrls.TRIBUNAL_RECOMMENDATION,
                text: "Change",
                visuallyHiddenText: yourPreferences.expectedTribunalsRecommendation
              }
            ]
          } 
        },
        {
          key: {
            text: claimDetails.forwardClaim,
            classes: "govuk-!-font-weight-regular-m"
          },
          value: {
            text: userCase.whistleblowingClaim +": "+userCase.whistleblowingEntityName if userCase.whistleblowingClaim === "Yes" 
            else userCase.whistleblowingClaim
          },
          actions: {
            items: [
              {
                href: PageUrls.WHISTLEBLOWING_CLAIMS,
                text: "Change",
                visuallyHiddenText: yourPreferences.forwardClaim
              }
            ]
          } 
        }
      ]
    }) 
  }}


  <div class="govuk-form-group">
    {{ 
      govukButton({
        text: submitBtn,
        classes: 'govuk-!-margin-right-2',
        type: "submit",
        href: PageUrls.CLAIM_SUBMITTED,
        preventDoubleClick: true,
        attributes: {
          id: 'main-form-submit'
        }
      }) 
    }}

    {{ 
      govukButton({
        text: saveForLater,
        classes: 'govuk-button--secondary',
        preventDoubleClick: true,
        name: 'saveForLater',
        href: PageUrls.CLAIM_SAVED,
        value: true,
        attributes: {
          id: 'main-form-save-for-later'
        },
        value: true
      }) 
    }}

  </div>
{% endblock %}