{% extends "template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ super() }}
  {% include "back-link.njk"%}
{% endblock %}

{% block content %}
  <div class="govuk-panel govuk-panel--interruption">
  <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
  <div class="govuk-panel__body ">
    <p class="govuk-body-m govuk-!-font-weight-bold">{{ claimCheckListTitle }}</p>
      <ul class="govuk-list">
        <li>
          <span class="circle circle-step circle-white">1</span>
          <p class="govuk-body-m govuk-!-font-weight-bold govuk-!-margin-left-7">{{ claimCheckListItem1 }}</p>
        </li>

        <li>
          <span class="circle circle-step circle-white">2</span>
          <p class="govuk-body-m govuk-!-font-weight-bold govuk-!-margin-left-7">{{ claimCheckListItem2 }}</p>
        </li>
        <li>
          <span class="circle circle-step circle-white">3</span>
          <p class="govuk-body-m govuk-!-font-weight-bold govuk-!-margin-left-7">{{ claimCheckListItem3 }}</p>
        </li>
      </ul>
    <p class="govuk-body-m govuk-!-font-weight-bold">{{ claimCheckListReminder }}</p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  {{ govukButton({
    text: continue,
    href: PageUrls.WORK_POSTCODE,
    preventDoubleClick: true
  }) }}
  </div>
</div>
{% endblock %}
