{% extends "template.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block beforeContent %}
  {{ super() }}
  {% include "back-link.njk" %}
{% endblock %}

{% block content %}

  {{ govukErrorSummary({
    titleText: errorSummaryTitle,
    errorList: [
      {
        text: submitError | safe,
        href: "#main-form-submit"
      }
    ]
  }) if errors.length > 0 }}

  <div class="govuk-grid-row ">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">{{ h1 }}</h1>
      <p class="govuk-body govuk-!-margin-bottom-8">{{ des }}</p>
    </div>
  </div>

  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <h2 class="govuk-summary-list__key govuk-heading-m">
        {{ applicationDetails.header }}
      </h2>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        {{ applicationDetails.typeOfClaim }}
      </dt>
      <dd class="govuk-summary-list__value">
        <ul class="govuk-list">
          {% for item in typesOfClaim %}
            <li>{{ getContent(claimTypes[item]) }}</li>
          {% endfor %}
        </ul>
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/type-of-claim/change?redirect=answers">
          {{ change }}
          <span class="govuk-visually-hidden">{{ applicationDetails.typeOfClaim }}</span>
        </a>
      </dd>
    </div>
  </dl>

  {{ govukSummaryList({
    rows: yourDetails
  }) }}

  {{ govukSummaryList({
    rows: employmentSection
  }) }}

  {% for respondent in respondents %}
    {{
      govukSummaryList({
        rows: getRespondentSection(userCase, respondent, loop.index, translations, languageParam, true)
      })
    }}
  {% endfor %}

  {% if isAddRespondent %}
    <p class="govuk-body"><a class="govuk-link" href="{{PageUrls.RESPONDENT_ADD_REDIRECT}}{{languageParam}}">{{translations.addAnotherRespondent}}</a></p>
  {% endif %}

  {{ govukSummaryList({
    rows: claimDetailsSection
  }) }}

  <div class="govuk-form-group">
    {{ govukButton({
      text: submitBtn,
      classes: 'govuk-!-margin-right-2',
      type: "submit",
      href: InterceptPaths.SUBMIT_CASE + languageParam,
      preventDoubleClick: true,
      attributes: {
        id: 'main-form-submit'
      }
    }) }}


    {{ govukButton({
      text: saveForLater,
      classes: 'govuk-button--secondary',
      preventDoubleClick: true,
      name: 'saveForLater',
      href: PageUrls.CLAIM_SAVED + languageParam,
      value: true,
      attributes: {
        id: 'main-form-save-for-later'
      },
      value: true
    }) }}
  </div>
{% endblock %}
