{% extends "template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "components/hmcts-progress-bar/macro.njk" import hmctsProgressBar %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block beforeContent %}
  {{ super() }}
  {% include "back-link.njk"%}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-xl">
        {{h1}}
      </h1>
      {{ govukTable({
  firstCellIsHeader: true,
  rows: [
    [
      {
        text: description.firstCell
      },
      {
        text: description.secondCell
      }
    ],
    [
      {
        text: document
      },
      {
        html: "<a href=\"/getCaseDocument\" target=\"_blank\" class=\"govuk-link\">" + retrievedDoc.originalDocumentName + " [" +retrievedDoc.size/1000000 +"MB]" + "</a>"
      }
    ],
        [
      {
        text: documentDetails
      },
      {
        html: shortDesc
      }
    ],
        [
      {
        text: date
      },
      {
        html: retrievedDoc.createdOn
      }
    ]
  ]
}) }}
    </div>

    <div class="govuk-grid-column-one-third-from-desktop">

      {% set sideBarContent %}
      {% include "./citizen-hub-sidebar.njk" %}
      {% endset %}

      {{ govukDetails({
              summaryText: "Contact",
              html: sideBarContent
            }) }}

    </div>

  </div>

{% endblock %}