<p class='govuk-body'>
  {{callEmployer}}
</p>

<p class='govuk-body'>
  {{contactText}}
  <a>{{contactLink}}</a>
</p>

<h2 class="govuk-heading-s">
  {{englandWales}}
</h2>

<p class='govuk-body'>
  {{ewNumbers | safe}}
</p>

<h2 class="govuk-heading-s">
  {{welsh}}
</h2>

<p class='govuk-body'>
  {{welshNumber}}
</p>

<h2 class="govuk-heading-s">
  {{scotland}}
</h2>

<p class='govuk-body'>
  {{scotlandNumbers | safe}}
</p>

<p class='govuk-body'>
  {{hours | safe}}
</p>

<a href="https://www.gov.uk/call-charges" class="govuk-link">{{callCharges}}</a>
