{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% set htmlForNotification %}

<h3 class="govuk-notification-banner__heading">
    {{notificationBanner.acknowledgement.header}}
</h3>

<p class="govuk-body">
    <a class="govuk-link" href="/acknowledgement">{{notificationBanner.acknowledgement.link}}</a>.
</p>

<p class="govuk-body">
    {{notificationBanner.acknowledgement.p1}}
</p>

{% if showRespondentResponseDeadline %}
    <p class="govuk-body">
        {{notificationBanner.acknowledgement.p2 | safe}}
        {{respondentResponseDeadline}}.
    </p>
{% endif %}

{% endset %}

{% if showAcknowledgementAlert %}
    {{ govukNotificationBanner({
   html: htmlForNotification
  }) }}
{% endif %}