{% extends "template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "components/hmcts-progress-bar/macro.njk" import hmctsProgressBar %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-l">
        {{ header + userCase.firstName + ' ' + userCase.lastName }} vs {{ userCase.respondents[0].respondentName }}
      </h2>
      <p id="caseNumber" class="govuk-body">{{ caseNumber + userCase.ethosCaseReference }}</p>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
          <div class="top-border-blue">
            {{ hmctsProgressBar({
              items: progressBarItems,
              classes: ''
            }) }}

            {% include "./citizen-hub-notification-banner.njk" %}

            {% include "./multiples/multiplePanel.njk" %}

            <ol class="app-task-list">
              {% for section in sections %}
                <li>
                  <h2 class="app-task-list__section">
                    {{getContent(section.title)}}
                  </h2>
                  <ul class="app-task-list__items">
                    {% for link in section.links %}
                      <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                          {% if link.shouldShow %}
                            <a href="{{ getContent(link.url) }}" class="govuk-link">
                              {{ getContent(link.linkTxt) }}
                            </a>
                          {% else %}
                            {{ getContent(link.linkTxt) }}
                          {% endif %}
                        </span>

                        {{ govukTag({
                      text: getContent(link.status),
                      classes: "no-text-transform app-task-list__tag govuk-tag" + getContent(link.statusColor)
                    }) }}
                      </li>
                    {% endfor %}
                  </ul>
                </li>
              {% endfor %}
            </ol>
          </div>
        </div>
        <div class="govuk-grid-column-one-third-from-desktop">
          <div class="top-border-blue">
            <h2 class="govuk-heading-s">
              {{iWantTo}}
            </h2>
            <p class="govuk-body">
              <a href="{{PageUrls.CONTACT_THE_TRIBUNAL + languageParam}}">
                {{contactTribunalMyCase}}
              </a>
            </p>

            <p class="govuk-body">
              <a href="https://www.gov.uk/find-legal-advice" target="_blank">
                {{findLegalAdvice}}
              </a>
            </p>
            {% if userCase.claimantRepresentedQuestion and userCase.claimantRepresentedQuestion === 'Yes' %}
              <p class="govuk-body">
                <a href="/change-legal-representative">
                  {{ changeLegalRepresentative }}
                </a>
              </p>
            {% else %}
              <p class="govuk-body">
                <a href="/appoint-legal-representative" target="_blank">
                  {{ appointLegalRepresentative }}
                </a>
              </p>
            {% endif %}

            {% set sideBarContent %}
            {% include "./citizen-hub-sidebar.njk" %}
            {% endset %}

            {{ govukDetails({
              summaryHtml: "<span id='contact-us-sidebar'>" + contact + "</span>",
              html: sideBarContent
            }) }}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
