{% extends "template.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block beforeContent %}
  {{ super() }}
  {% include "back-link.njk"%}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row ">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">{{ h1 }}</h1>

      {% if userCase.acknowledgementOfClaimLetterDetail.length %}
        {% for doc in userCase.acknowledgementOfClaimLetterDetail %}
          {{ govukTable({
            firstCellIsHeader: false,
            caption: "Claim related information",
            rows: [
              [
                {
                  text: doc.createdOn
                },
                            {
                  text: 'ET1 (Claim)'
                },
                {
                    html: "<a href=\"/case-document/acknowledgement-of-claim\" class=\"govuk-link\">" +'[Acknowledgement of Claim: ' + doc.originalDocumentName + "]" + "</a>"
                }
              ]
            ]
          }) }}
        {% endfor %}
      {% endif %}

      {% if userCase.rejectionOfClaimDocumentDetail.length %}
        {% for doc in userCase.rejectionOfClaimDocumentDetail %}
          {{ govukTable({
            firstCellIsHeader: false,
            caption: "Claim related information",
            rows: [
              [
                {
                  text: doc.createdOn
                },
                            {
                  text: 'ET1 (Claim)'
                },
                {
                    html: "<a href=\"/case-document/rejection-of-claim\" class=\"govuk-link\">"+'[Rejection of Claim: ' + doc.originalDocumentName + "]" + "</a>"
                }
              ]
            ]
          }) }}
        {% endfor %}
      {% endif %}

      {{ govukTable({
        caption: "Application details",
        captionClasses: "govuk-table__caption--m",
        firstCellIsHeader: true,
        rows: [
          [
            {
              text: "Claim type"
            },
            {
              text: "[Selected claim types]"
            }
          ]
        ]
      }) }}

      {{
        govukSummaryList({
          rows: yourDetails
        })
      }}

      {{
        govukSummaryList({
          rows: employmentSection
        })
      }}

      {% set documentsRows = [] %}
      {% for document in et1Documents %}
        {% set documentsRows = (documentsRows.push(
          [
            {
              text: document.date
            },
            {
              html: "<a href=\"/getCaseDocument/" + document.id + "\" target=\"_blank\" class=\"govuk-link\">" + document.name + "</a>"
            }
          ]
          ), documentsRows) %}
      {% endfor %}

      {{ govukTable({
        firstCellIsHeader: false,
        head: [
          {
            text: "Date uploaded"
          },
          {
            text: "Document"
          }
        ],
        rows: documentsRows
      }) }}

      {% set contactContent %}
      {% include "./citizen-hub-sidebar.njk" %}
      {% endset %}

      {{ govukDetails({
        summaryText: "Contact",
        html: contactContent
      }) }}
    </div>
  </div>
{% endblock %}
