{% extends "template.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block content %}
<div class="govuk-grid-row ">
  <div class="govuk-grid-column-two-thirds">
    {{ govukPanel({
      titleText: h1
    }) }}

    <p class="govuk-body">
      {{ emailConfirmation }}
    </p>

    <h2 class="govuk-heading-m">
      {{ whatHappensNext }}
    </h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        {{whatHappensNextItemOne}}
      </li>
      <li>
        {{whatHappensNextItemTwo}}
      </li>
    </ul>

    <h2 class="govuk-heading-m">
      {{ submissionDetails }}
    </h2>

    {{ govukSummaryList({
    rows: [
      { key: { text: submissionReference  }, value: { text: submissionReferenceText | safe } },
      { key: { text: claimSubmitted  }, value: { text: claimSubmittedText | safe } },
      { key: { text: downloadClaim | safe }, value: { html: '<a href=\"' + downloadLink + '\"class=\"govuk-link\">' + downloadBtnText +  '</a>' | safe } },
      { key: { text: attachments }, value: { text: attachmentsText | safe } }
    ]
    }) }}

    <h2 class="govuk-heading-m">
      {{ claimQuestions }}
    </h2>

    <p class="govuk-body">
      {{ claimQuestionsText}}
    </p>

    {{ govukSummaryList({
      rows: [
        { key: { text: tribunalOffice  }, value: { text: tribunalOfficeText } },
        { key: { text: email  }, value: { text: emailText } },
        { key: { text: telephone  }, value: { text: telephoneText } }
      ]})
    }}

    <h2 class="govuk-heading-m">
      {{ processQuestions }}
    </h2>

    <p class="govuk-body">
      {{ processQuestionsText}}
    </p>

    <ul class="govuk-list">
      <li>
        {{contactPrimary}}
      </li>
      <li>
        {{contactWelsh}}
      </li>
      <li>
        {{contactScotland}}
      </li>
    </ul>

    <p class="govuk-body">
      {{ contactAppend | safe}}
    </p>
   </div>
</div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds govuk-border black-border govuk-!-padding-bottom-2">
        <h2 class="govuk-heading-m">
          {{ survey.titleText }}
        </h2>
        <p class="govuk-body">
          <a href="{{ survey.url }}" class="govuk-link">{{ survey.linkText }}</a> {{ survey.text }}
        </p>
      </div>
    </div>

{% endblock %}
