{% extends "template.njk" %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "claimant-applications-section.njk" import applicationsSection with context %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">{{ title }}</h1>
    <br/>
      <p class="govuk-body"><a class="govuk-link" href={{ p1Link }}>{{ p1 }}</a></p>
      <p class="govuk-body"><a class="govuk-link" href={{ p2Link }}>{{ p2 }}</a></p>

    {% if showTabs %}
      {{ govukTabs({
        items: [
          {
            label: myClaimsTab,
            id: "my-claims",
            panel: { html: applicationsSection(myClaimsApplications) }
          },
          {
            label: representingTab,
            id: "representing",
            panel: { html: applicationsSection(representingApplications) }
          }
        ]
      }) }}
    {% else %}
      {{ applicationsSection(usersApplications) }}
    {% endif %}
    </div>
</div>
{% endblock %}