{% extends "template.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block beforeContent %}
  {{ super() }}
  {% include "back-link.njk"%}
{% endblock %}

{% block content %}
  {{ govukPanel({
    titleText: h1
  }) }}

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-border blue-border">
      <h2 class="govuk-heading-m"> {{ survey.titleText }} </h2>
      <p class="govuk-body"> {{ survey.p1 }} <a href=" {{ survey.url }}" class="govuk-link"> {{ survey.linkText }} </a> </p>
    </div>
  </div>
{% endblock %}