{% extends "template.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
  text: "Back",
  href: "/" + previousPage
}) }}
{% endblock %}
{% block content %}
        {{ govukPanel({
        titleText: "Your claim has been saved"
      }) }}
      <p class="govuk-body ">{{ p1 }}</p>
      {{ govukButton({
        text: continueWithClaim,
        href: "/return-to-existing",
        preventDoubleClick: true
      }) }}
{% endblock %}
