{% extends "template.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block beforeContent %}
  {{ super() }}
  {% include "back-link.njk" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row ">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">{{ h1 }}</h1>

      <dl class="govuk-summary-list">

        {% for thisDocument in et1Documents %}
          <div class = "govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-font-weight-regular-m">
              {{ document }}
            </dt>
            <dd class="govuk-summary-list__value">
              <a href="getCaseDocument/{{ thisDocument.id }}" target="_blank" class="govuk-link">{{ thisDocument.name }}</a>
            </dd>
          </div>
        {% endfor %}
      </dl>

      {% if userCase.acknowledgementOfClaimLetterDetail.length or userCase.rejectionOfClaimDocumentDetail.length or userCase.genericTseApplicationCollection.length %}
        <div class="govuk-summary-list__key govuk-heading-m">{{ claimRelatedInfo }}</div>
      {% endif %}

      {% if userCase.acknowledgementOfClaimLetterDetail.length %}
        {% for doc in userCase.acknowledgementOfClaimLetterDetail %}
          {{ govukTable({
            firstCellIsHeader: false,
            rows: [
              [
                {
                  text: doc.createdOn
                },
                {
                  text: approveClaim
                },
                {
                    html: "<a href='getCaseDocument/"+ doc.id + "' class=\"govuk-link\">" + doc.originalDocumentName + "</a>"
                }
              ]
            ]
          }) }}
        {% endfor %}
      {% endif %}

      {% if userCase.rejectionOfClaimDocumentDetail.length %}
        {% for doc in userCase.rejectionOfClaimDocumentDetail %}
          {{ govukTable({
            firstCellIsHeader: false,
            caption: claimRelatedInfo,
            rows: [
              [
                {
                  text: doc.createdOn
                },
                            {
                  text: rejectClaim
                },
                {
                    html: "<a href='getCaseDocument/"+ doc.id + "' class=\"govuk-link\">" + doc.originalDocumentName + "</a>"
                }
              ]
            ]
          }) }}
        {% endfor %}
      {% endif %}

      {% if userCase.genericTseApplicationCollection.length %}
        {% for tseApp in userCase.genericTseApplicationCollection %}
        {% if tseApp.value.applicant === "Claimant" %}
          {{ govukTable({
            firstCellIsHeader: false,
            rows: [
              [
                {
                  text: tseApp.value.date,
                  classes: 'govuk-!-width-one-quarter'
                },
                {
                  text: application,
                  classes: 'govuk-!-width-one-quarter'
                },
                {
                  html: "<a href=\"" + tseApp.redirectUrl + "\" class=\"govuk-link\">" + tseApp.linkValue + "</a>"
                }
              ]
            ]
          }) }}
          {% endif %}
        {% endfor %}
      {% endif %}

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-heading-m">
            {{ applicationDetails.header }}
          </dt>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            {{ applicationDetails.typeOfClaim }}
          </dt>
          <dd class="govuk-summary-list__value">
            <ul class="govuk-list">
              {% for item in userCase.typeOfClaim %}
                <li>{{ getContent(claimTypes[item]) }}</li>
              {% endfor %}
            </ul>
          </dd>
        </div>
      </dl>

      {{ govukSummaryList({
        rows: yourDetails
      }) }}

      {{ govukSummaryList({
        rows: employmentSection
      }) }}

      {% for respondent in userCase.respondents %}
        {{ govukSummaryList({
          rows: getRespondentSection(userCase, respondent, loop.index, translations, languageParam, false)
        }) }}
      {% endfor %}

      {{ govukSummaryList({
        rows: claimDetailsSection
      }) }}

      {% set contactContent %}
        {% include "./citizen-hub-sidebar.njk" %}
      {% endset %}

      {{ govukDetails({
        summaryText: contact,
        html: contactContent
      }) }}
    </div>
  </div>
{% endblock %}
