{% extends "template.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block beforeContent %}
  {{ super() }}
  {% include "back-link.njk"%}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row ">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">{{ h1 }}</h1>
      <p class="govuk-body govuk-!-margin-bottom-4">{{ amendClaim }}</p>

      {% if userCase.acknowledgementOfClaimLetterDetail.length %}
        {% for doc in userCase.acknowledgementOfClaimLetterDetail %}
          {{ govukTable({
        firstCellIsHeader: false,
        caption: "Claim related information",
        rows: [
          [
            {
              text: doc.createdOn
            },
                        {
              text: 'ET1 (Claim)'
            },
            {
                html: "<a href=\"/case-document/acknowledgement-of-claim\" class=\"govuk-link\">" +'[Acknowledgement of Claim: ' + doc.originalDocumentName + " (" + doc.size +"MB)]" + "</a>"
            }
          ]
        ]
      }) }}
        {% endfor %}
      {% endif %}

      {% if userCase.rejectionOfClaimDocumentDetail.length %}
        {% for doc in userCase.rejectionOfClaimDocumentDetail %}
          {{ govukTable({
        firstCellIsHeader: false,
        caption: "Claim related information",
        rows: [
          [
            {
              text: doc.createdOn
            },
                        {
              text: 'ET1 (Claim)'
            },
            {
                html: "<a href=\"/case-document/rejection-of-claim\" class=\"govuk-link\">"+'[Rejection of Claim: ' + doc.originalDocumentName + " (" + doc.size +"MB)]" + "</a>"
            }
          ]
        ]
      }) }}
        {% endfor %}
      {% endif %}

      {{ govukTable({
        firstCellIsHeader: false,
        head: [
          {
            text: "Date uploaded"
          },
          {
            text: "Document"
          }
        ],
        rows: [
          [
            {
              text: "22 April 2022"
            },
            {
              text: getContentSafe(link)
            }
          ]
        ]
      }) }}

      {{ govukTable({
        caption: "Application details",
        captionClasses: "govuk-table__caption--m",
        firstCellIsHeader: true,
        rows: [
          [
            {
              text: "Claim type"
            },
            {
              text: "[Selected claim types]"
            }
          ]
        ]
      }) }}

      {{ govukTable({
        caption: "Your details",
        captionClasses: "govuk-table__caption--m",
        firstCellIsHeader: true,
        rows: [
          [
            {
              text: "Date of birth"
            },
            {
              text: "[DOB]"
            }
          ],
          [
            {
              text: "Sex"
            },
            {
              text: "[selection]"
            }
          ]
        ]
      }) }}

      {{ govukTable({
        caption: "Employment details",
        captionClasses: "govuk-table__caption--m",
        firstCellIsHeader: true,
        rows: [
          [
            {
              text: "Did you work ..."
            },
            {
              text: "[DOB]"
            }
          ],
          [
            {
              text: "Sex"
            },
            {
              text: "[selection]"
            }
          ]
        ]
      }) }}

    </div>
  </div>
{% endblock %}