{% extends "template.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block beforeContent %}
  {{ super() }}
  {% include "back-link.njk"%}
{% endblock %}

{% block content %}
  {% block errorSummary %}
    {% include "error-summary.njk" %}
  {% endblock %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">{{ h1 }}</h1>
      <p class="govuk-body">{{ p1 }}</p>
      {% block form %}
        {% include "form/form.njk" %}
      {% endblock %}
      <p class="govuk-body">
        <a href="{{ PageUrls.CLAIMANT_NEW_JOB_START_DATE }}?redirect=clearSelection&{{ languageParam }}" class="govuk-link">{{ clearSelection }}</a>
      </p>
    </div>
  </div>
{% endblock %}
