{% extends "template.njk" %}

{% block beforeContent %}
  {{ super() }}
  {% include "back-link.njk"%}
{% endblock %}

{% block content %}
  {% block errorSummary %}
    {% include "error-summary.njk" %}
  {% endblock %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4 ">{{ h1 }}</h1>
      {{ govukDetails({
        summaryText: collapsableSection1.linkText,
        html: "<p class='govuk-body'>"+collapsableSection1.p1+"</p>
              <ol class='govuk-list govuk-list--number'>
                <li>"+collapsableSection1.li1+"</li>
                <li>"+collapsableSection1.li2+"</li>
              </ol>
              <p class='govuk-body'>"+collapsableSection1.p2+"</p>
              <p class='govuk-body'>"+collapsableSection1.p3+"</p>
              <p class='govuk-body'>"+collapsableSection1.p4+"</p>
              <p class='govuk-body'>"+collapsableSection1.p5+"</p>"
      }) }}
      {% block form %}
        {% include "form/form.njk"%}
      {% endblock %}
    </div>
  </div>
{% endblock %}
