{% extends "template.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block beforeContent %}
  {{ super() }}
  {% include "back-link.njk" %}
{% endblock %}

{% block content %}
  {% block errorSummary %}
    {% include "error-summary.njk" %}
  {% endblock %}

  {{ govukErrorSummary({
    titleText: errorSummaryTitle,
    errorList: [
      {
        text: errorMessage,
        href: "#contactApplicationFile"
      }
    ]
  }) if errorMessage.length > 0 }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-hint">{{ applicationType }}</span>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4 ">{{ applicationTitle }}</h1>
      {{ getContentSafe(content | join) }}
      <p class="govuk-body-m govuk-!-font-weight-bold">{{ genericGuidance }}</p>
      <p class="govuk-body">{{ subTitle }}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{ genericGuidanceItem1 }}</li>
        <li>{{ genericGuidanceItem2 }}</li>
        <li>{{ genericGuidanceItem3 }}</li>
      </ul>
      <span class="govuk-hint">{{ contactTemplateText }}</span>
      {% block form %}
        {% include "form/form.njk" %}
      {% endblock %}
      <br /><br />
      <h2 class="govuk-summary-list__key govuk-heading-m">
        Uploaded file
      </h2>
      <hr />
      {{ govukSummaryList({
        rows: files
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue",
          classes: 'govuk-!-margin-right-8',
          href: PageUrls.COPY_TO_OTHER_PARTY
        }) }}
        <a class="govuk-link" href="#">Cancel</a>
      </div>
      {% include "form/multipartForm.njk"%}
    </div>
    <div class="govuk-grid-column-one-third">
      <p class="govuk-body">
        <a href="https://www.gov.uk/find-legal-advice" target="_blank">
          {{findLegalAdvice}}
        </a>
      </p>

      {% set sideBarContent %}
        {% include "./citizen-hub-sidebar.njk" %}
      {% endset %}

      {{ govukDetails({
        summaryText: "Contact",
        html: sideBarContent
      }) }}
    </div>
  </div>
{% endblock %}
