{% extends "template.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block beforeContent %}
  {{ super() }}
  {% include "back-link.njk" %}
{% endblock %}

{% block content %}
  {% block errorSummary %}
    {% include "error-summary.njk" %}
  {% endblock %}

  {{ govukErrorSummary({
    titleText: errorSummaryTitle,
    errorList: [
      {
        text: errorMessage,
        href: "#contactApplicationFile"
      }
    ]
  }) if errorMessage.length > 0 }}

   <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-hint">{{ applicationType }}</span>
      <h2 class="govuk-heading-xl govuk-!-margin-bottom-4 ">{{ applicationTitle }}</h2>

      {% for item in content %}
        {% if item.type == 'paragraph' %}
          <p class="govuk-body">{{ item.text }}</p>
        {% elif item.type == 'bold-paragraph' %}
          <p class="govuk-body-m govuk-!-font-weight-bold">{{ item.text }}</p>
        {% elif item.type == 'list' %}
          <ul class="govuk-list govuk-list--bullet">
            {% for listItem in item.items %}
              <li>{{ listItem }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endfor %}
        <p class="govuk-body-m govuk-!-font-weight-bold">{{ genericGuidance }}</p>
      <p class="govuk-body">{{ subTitle }}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{ genericGuidanceItem1 }}</li>
        <li>{{ genericGuidanceItem2 }}</li>
        <li>{{ genericGuidanceItem3 }}</li>
      </ul>
      
      {% include "form/multipartForm.njk" %}
    </div>
    <div class="govuk-grid-column-one-third">
      <p class="govuk-body">
        <a href="https://www.gov.uk/find-legal-advice" target="_blank">
          {{findLegalAdvice}}
        </a>
      </p>

      {% set sideBarContent %}
        {% include "./citizen-hub-sidebar.njk" %}
      {% endset %}

      {{ govukDetails({
        summaryText: contact,
        html: sideBarContent
      }) }}
    </div>
  </div>
{% endblock %}
