{% extends "template.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block beforeContent %}
  {{ super() }}
  {% include "back-link.njk"%}
{% endblock %}

{% block content %}
 {{ govukErrorSummary({
     titleText: errorSummaryTitle,
     errorList: [
       {
         text: submitError | safe,
         href: "#main-form-submit"
       }
     ]
   }) if errors.length > 0
 }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
           <span class="govuk-hint">{{ applicationType }}</span>
           <h1 class="govuk-heading-xl govuk-!-margin-bottom-4 ">{{ applicationTitle }}</h1>
           <p class="govuk-body"> {{variableContent}}</p>
           <p class="govuk-body-m govuk-!-font-weight-bold">{{ genericGuidance }}</p>
           <p class="govuk-body">{{ subTitle }}</p>
                 <ul class="govuk-list govuk-list--bullet">
                   <li>{{ genericGuidanceItem1 }}</li>
                   <li>{{ genericGuidanceItem2 }}</li>
                   <li>{{ genericGuidanceItem3 }}</li>
                 </ul>
                 <span class="govuk-hint">{{ contactTemplateText }}</span>
                  {% block form %}
                  {% include "form/form.njk"%}
                  {% endblock %}

                                    <br/>
                                       <br/>
                                     <h2 class="govuk-summary-list__key govuk-heading-m">
                                            Uploaded file
                                          </h2>
                                          <hr/>

                                            {{
                                              govukSummaryList({
                                                rows: files
                                              })
                                            }}


                                     <div class="govuk-button-group">
                                          {{ govukButton({
                                            text: "Continue",
                                            classes: 'govuk-!-margin-right-8'
                                          }) }}
                                          <a class="govuk-link" href="#">Cancel</a>
                                        </div>
                                      </div>
    </div>
  </div>
{% endblock %}
