{% extends "template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block beforeContent %}
  {{ super() }}
  {% include "back-link.njk"%}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row ">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ title }}</h1>

      {{ govukSummaryList({
        rows: cyaContent
      }) }}

      <p class="govuk-body">{{youCannotMakeFurtherChanges}}</p>

      <div class="govuk-button-group">
        {{ govukButton({
          text: storeApplication,
          type: submit,
          classes: 'govuk-!-margin-right-6',
          href: storedUrl,
          preventDoubleClick: true,
          attributes: {
            id: 'main-form-submit'
          }
        }) }}
        <a class="govuk-link" href={{ cancelPage }}>{{ cancelLink }}</a>
      </div>
    </div>

    <div class="govuk-grid-column-one-third-from-desktop">
      <p class="govuk-body">
        <a href="https://www.gov.uk/find-legal-advice" target="_blank">
          {{ findLegalAdvice }}
        </a>
      </p>

      {% set sideBarContent %}
        {% include "./citizen-hub-sidebar.njk" %}
      {% endset %}

      {{ govukDetails({
        summaryText: "Contact",
        html: sideBarContent
      }) }}
    </div>
  </div>
{% endblock %}
