{% extends "template.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block beforeContent %}
  {{ super() }}
  {% include "back-link.njk"%}
{% endblock %}

{% block content %}
  {% block errorSummary %}
   {% include "error-summary.njk" %}
  {% endblock %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
           <span class="govuk-hint">{{ applicationType }}</span>
           <h1 class="govuk-heading-xl govuk-!-margin-bottom-4 ">{{ applicationTitle }}</h1>
           <p class="govuk-body"> {{variableContent}}</p>
           <p class="govuk-body-m govuk-!-font-weight-bold">{{ genericGuidance }}</p>
           <p class="govuk-body">{{ subTitle }}</p>
                 <ul class="govuk-list govuk-list--bullet">
                   <li>{{ genericGuidanceItem1 }}</li>
                   <li>{{ genericGuidanceItem2 }}</li>
                   <li>{{ genericGuidanceItem3 }}</li>
                 </ul>
                 {% block form %}
                   {% include "form/form.njk"%}
                     <a class="govuk-link" href="#">Cancel</a>
                 {% endblock %}
    </div>
  </div>
{% endblock %}
