{% extends "template.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block beforeContent %}
  {{ super() }}
  {% include "back-link.njk"%}
{% endblock %}

{% block content %}
  <div class="govuk-!-width-two-thirds">
    <h1 class="govuk-heading-xl">[Application type]</h1>
    <p class="govuk-body">You have not submitted this application. Confirm you have copied this correspondence to the other party by post or email before you submit the application.</p>
    {{ govukTable({
      caption: "Your application",
      captionClasses: "govuk-table__caption--m",
      firstCellIsHeader: true,
      head: [
        {
          text: "[Question]"
        },
        {
          text: "[Answer]"
        }
      ],
      rows: [
        [
          {
            text: "[Question]"
          },
          {
            text: "[Answer]"
          }
        ],
        [
          {
            html: "<p class='govuk-body'>[Question]<br>Supporting Material</p>"
          },
          {
            html: "<p class='govuk-body'>[Answer]<br><a href='#' class='govuk-link'>Supporting Material</a></p>"
          }
        ],
        [
          {
            text: "Do you want to copy this correspondence to the other party to satisfy the Rules of Procedure?"
          },
          {
            text: "Yes"
          }
        ]
      ]
    }) }}
    <h2 class="govuk-heading-l">Confirm you have copied this correspondence to the other party</h2>
    <p class="govuk-body">To submit your application to the tribunal, confirm you have copied this correspondence to the other party by post or email.</p>
    <p class="govuk-body"><a href="#" class="govuk-link">View this correspondence (opens in new tab)</a></p>
    <p class="govuk-body">View the supporting documents. <br/><a href="#" class="govuk-link">[file_name_of_supporting_doc] (opens in new tab)</a></p>
    <h2 class="govuk-heading-m">Have you copied this correspondence to the other party?</h2>
    <p class="govuk-body">I confirm that I have copied this correspondence to the other party. I have also notified the other party that any objections to my application should be sent to the tribunal as soon as possible and in any event within 7 days.</p>
    {{ govukCheckboxes({
      name: "tickbox",
      items: [
        {
          value: "yes",
          text: "Yes"
        }
      ]
    }) }}

    <div class="govuk-button-group">
    {{
    govukButton({
      text: "Continue",
      classes: 'govuk-!-margin-right-2',
      type: "submit",
      preventDoubleClick: true,
      attributes: {
        id: 'main-form-submit'
      }
    })
    }}
    <a class="govuk-link" href="#">Cancel</a>
  </div>
  </div>
{% endblock %}
