{% extends "template.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block beforeContent %}
  {{ super() }}
  {% include "back-link.njk"%}
{% endblock %}

{% block content %}
  {% block errorSummary %}
    {% set errors = req.session.errors %}
    {{ govukErrorSummary({
      titleText: errorSummaryTitle,
      errorList: errors
    }) if errors.length > 0
    }}
  {% endblock %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{ applicationType }}</span>
      <h1 class="govuk-heading-l">{{title}}</h1>
      {{ govukInsetText({
        text: theTribunalMustOperate
      }) }}
      <p class="govuk-body">{{toCopyThisCorrespondence}}</p>

      <form class="form" id="main-form" method="post" action="" novalidate="true">
        <input type="hidden" name="_csrf" value={{ csrfToken }}>
        {{ govukRadios({
          name: "copyToOtherPartyYesOrNo",
          fieldset: {
            legend: {
              text: doYouWantToCopy,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: YesOrNo.YES,
              html: '<p class="govuk-body">' +
                yesIConfirmIWill +
                '</p><p class="govuk-body"><strong>' +
                important +
                ':</strong> ' +
                doNotSubmitYourApplication +
                '</p><p class="govuk-body">' +
                youShouldAlsoNotify +
                '</p>'
            },
            {
              value: YesOrNo.NO,
              html: '<p class="govuk-body">' +
                noIDoNotWantTo +
                '</p><p class="govuk-body"><strong>' +
                important +
                ':</strong> ' +
                youMustTellTheTribunal +
                '</p>'
            }
          ]
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: continue,
            preventDoubleClick: true,
            attributes: {
              id: 'main-form-submit'
            }
          }) }}
          <a class="govuk-link" href={{ cancelLink }}>{{ cancel }}</a>
        </div>

      </form>
    </div>

    <div class="govuk-grid-column-one-third">
      <p class="govuk-body">
        <a href="https://www.gov.uk/find-legal-advice" target="_blank">
          {{findLegalAdvice}}
        </a>
      </p>

      {% set sideBarContent %}
        {% include "./citizen-hub-sidebar.njk" %}
      {% endset %}

      {{ govukDetails({
        summaryText: "Contact",
        html: sideBarContent
      }) }}
    </div>
  </div>
{% endblock %}
