{% extends "template.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
  text: back,
  href: "/"
}) }}
{% endblock %}

{% block content %}

  {{ 
    govukErrorSummary({
      titleText: errorSummaryTitle,
      errorList: getErrors(form.fields)
    }) if getErrors(form.fields).length > 0
  }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4 ">{{ h1 }}</h1>
    <div>
  <div>
  {% block form %}
    {% include "form/form.njk"%}
  {% endblock %}
{% endblock %}
