{% extends "template.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" action="">
        <h1 class="govuk-heading-l">{{ h1 }}</h1>
        <p class="govuk-body">
          {{ p1 }} <strong>{{ caseReference }}</strong>.
        </p>
        <p class="govuk-body">
          {{ p2 }}
        </p>
        <button class="govuk-button govuk-button--warning" data-module="govuk-button" type="submit">
          {{ deleteButtonText }}
        </button>
      </form>
      <p class="govuk-body">
        <a href="{{ backToCaseUrl }}" class="govuk-link">{{ cancelButtonText }}</a>
      </p>
    </div>
  </div>
{% endblock %}

