{% extends "template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ super() }}
  {% include "back-link.njk"%}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="{{ deleteButtonUrl }}" method="post">
        <input type="hidden" name="_csrf" value={{ csrfToken }}>
        <h1 class="govuk-heading-l">{{ h1 }}</h1>
        <p class="govuk-body">
          {{ p1 }} <strong>{{ caseReference }}</strong>.
        </p>
        <p class="govuk-body">
          {{ p2 }}
        </p>
        <div class="govuk-button-group">
          {{ govukButton({
            text: deleteButtonText,
            type: submit,
            classes: "govuk-button--warning",
            preventDoubleClick: true,
            disabled: false,
            attributes: {
                id: 'delete-draft-claim-button'
            }
        }) }}
          <a href="{{ cancelLink }}" class="govuk-link">{{ cancel }}</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
