{% extends "template.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
  text: back,
  href: "/"
}) }}
{% endblock %}
{% block content %}
  <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">{{ h1 }}</h1>
{% endblock %}