{{ 
    govukSummaryList({
      rows: [
        {
          key: {
            text: employmentDetails.newJob,
            classes: "govuk-!-font-weight-regular-m"
          },
          value: {
            text: userCase.newJob
          },
          actions: {
            items: [
              {
                href: PageUrls.NEW_JOB,
                text: "Change",
                visuallyHiddenText: employmentDetails.newJob
              }
            ]
          } 
        },
        {
          key: {
            text: employmentDetails.newStartDate,
            classes: "govuk-!-font-weight-regular-m"
          },
          value: {
            text: "" if userCase.newJobStartDate.day === undefined else userCase.newJobStartDate.day + "-" + userCase.newJobStartDate.month + "-" + userCase.newJobStartDate.year
          },
          actions: {
            items: [
              {
                href: PageUrls.NEW_JOB_START_DATE,
                text: "Change",
                visuallyHiddenText: employmentDetails.newStartDate
              }
            ]
          } 
        },
        {
          key: {
            text: employmentDetails.newPayBeforeTax,
            classes: "govuk-!-font-weight-regular-m"
          },
          value: {
            text: userCase.newJobPay
          },
          actions: {
            items: [
              {
                href: PageUrls.NEW_JOB_PAY,
                text: "Change",
                visuallyHiddenText: employmentDetails.newPayBeforeTax
              }
            ]
          } 
        },
        {
          key: {
            text: employmentDetails.payPeriod,
            classes: "govuk-!-font-weight-regular-m"
          },
          value: {
            text: userCase.payInterval
          },
          actions: {
            items: [
              {
                href: PageUrls.PAY,
                text: "Change",
                visuallyHiddenText: employmentDetails.payPeriod
              }
            ]
          } 
        }
      ]
    }) 
  }}
