

{{ 
    govukSummaryList({
      rows: [
        {
          key: {
            text: employmentDetails.header,
            classes: "govuk-heading-m"
          }
        },
        {
          key: {
            text: employmentDetails.jobTitle,
            classes: "govuk-!-font-weight-regular"
          },
          value: {
          },
          actions: {
            items: [
              {
                href: PageUrls.JOB_TITLE,
                text: "Change",
                visuallyHiddenText: employmentDetails.jobTitle
              }
            ]
          } 
        },
        {
          key: {
            text: employmentDetails.startDate,
            classes: "govuk-!-font-weight-regular"
          },
          value: {
          },
          actions: {
            items: [
              {
                href: PageUrls.START_DATE,
                text: "Change",
                visuallyHiddenText: employmentDetails.startDate
              }
            ]
          } 
        },
        {
          key: {
            text: employmentDetails.noticePeriod,
            classes: "govuk-!-font-weight-regular"
          },
          value: {
          },
          actions: {
            items: [
              {
                href: PageUrls.NOTICE_END,
                text: "Change",
                visuallyHiddenText: employmentDetails.noticePeriod
              }
            ]
          } 
        },
        {
          key: {
            text: employmentDetails.noticeLength,
            classes: "govuk-!-font-weight-regular"
          },
          value: {
          },
          actions: {
            items: [
              {
                href: PageUrls.NOTICE_END,
                text: "Change",
                visuallyHiddenText: employmentDetails.noticeLength
              }
            ]
          } 
        },
        {
          key: {
            text: employmentDetails.noticePaid,
            classes: "govuk-!-font-weight-regular"
          },
          value: {
          },
          actions: {
            items: [
              {
                href: PageUrls.NOTICE_END,
                text: "Change",
                visuallyHiddenText: employmentDetails.noticePaid
              }
            ]
          } 
        },
        {
          key: {
            text: employmentDetails.weeklyHours,
            classes: "govuk-!-font-weight-regular"
          },
          value: {
          },
          actions: {
            items: [
              {
                href: PageUrls.AVERAGE_WEEKLY_HOURS,
                text: "Change",
                visuallyHiddenText: employmentDetails.weeklyHours
              }
            ]
          } 
        },
        {
          key: {
            text: employmentDetails.payBeforeTax,
            classes: "govuk-!-font-weight-regular"
          },
          value: {
          },
          actions: {
            items: [
              {
                href: PageUrls.PAY_BEFORE_TAX,
                text: "Change",
                visuallyHiddenText: employmentDetails.payBeforeTax
              }
            ]
          } 
        },
        {
          key: {
            text: employmentDetails.payAfterTax,
            classes: "govuk-!-font-weight-regular"
          },
          value: {
          },
          actions: {
            items: [
              {
                href: PageUrls.PAY_AFTER_TAX,
                text: "Change",
                visuallyHiddenText: employmentDetails.payAfterTax
              }
            ]
          } 
        },
        {
          key: {
            text: employmentDetails.pensionScheme,
            classes: "govuk-!-font-weight-regular"
          },
          value: {
          },
          actions: {
            items: [
              {
                href: PageUrls.PENSION,
                text: "Change",
                visuallyHiddenText: employmentDetails.pensionScheme
              }
            ]
          } 
        },
        {
          key: {
            text: employmentDetails.benefits,
            classes: "govuk-!-font-weight-regular"
          },
          value: {
          },
          actions: {
            items: [
              {
                href: PageUrls.BENEFITS,
                text: "Change",
                visuallyHiddenText: employmentDetails.benefits
              }
            ]
          } 
        },
        {
          key: {
            text: employmentDetails.newJob,
            classes: "govuk-!-font-weight-regular"
          },
          value: {
          },
          actions: {
            items: [
              {
                href: PageUrls.PRESENT_EMPLOYER,
                text: "Change",
                visuallyHiddenText: employmentDetails.newJob
              }
            ]
          } 
        },
        {
          key: {
            text: employmentDetails.newStartDate,
            classes: "govuk-!-font-weight-regular"
          },
          value: {
          },
          actions: {
            items: [
              {
                href: PageUrls.START_DATE,
                text: "Change",
                visuallyHiddenText: employmentDetails.newStartDate
              }
            ]
          } 
        },
        {
          key: {
            text: employmentDetails.newPayBeforeTax,
            classes: "govuk-!-font-weight-regular"
          },
          value: {
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: employmentDetails.newPayBeforeTax
              }
            ]
          } 
        },
        {
          key: {
            text: employmentDetails.workAddress,
            classes: "govuk-!-font-weight-regular"
          },
          value: {
          },
          actions: {
            items: [
              {
                href: PageUrls.PLACE_OF_WORK,
                text: "Change",
                visuallyHiddenText: employmentDetails.workAddress
              }
            ]
          } 
        }
      ]
    }) 
  }}