 {{ 
    govukSummaryList({
      rows: [
        {
          key: {
            text: employmentDetails.header,
            classes: "govuk-heading-m"
          }
        },
        {
          key: {
            text: employmentDetails.didYouWorkFor,
            classes: "govuk-!-font-weight-regular-m"
          },
          value: {
            text: userCase.pastEmployer
          },
          actions: {
            items: [
              {
                href: PageUrls.PAST_EMPLOYER,
                text: "Change",
                visuallyHiddenText: employmentDetails.didYouWorkFor
              }
            ]
          } 
        },
        {
          key: {
            text: employmentDetails.isStillWorking,
            classes: "govuk-!-font-weight-regular-m"
          },
          value: {
            text: userCase.isStillWorking if userCase.pastEmployer === "Yes" else " "
          },
          actions: {
            items: [
              {
                href: PageUrls.STILL_WORKING,
                text: "Change",
                visuallyHiddenText: employmentDetails.isStillWorking
              }
            ]
          } 
        },
        {
          key: {
            text: employmentDetails.jobTitle,
            classes: "govuk-!-font-weight-regular-m"
          },
          value: {
            text: userCase.jobTitle if userCase.pastEmployer === "Yes" else " "
          },
          actions: {
            items: [
              {
                href: PageUrls.JOB_TITLE,
                text: "Change",
                visuallyHiddenText: employmentDetails.jobTitle
              }
            ]
          } 
        },
        {
          key: {
            text: employmentDetails.startDate,
            classes: "govuk-!-font-weight-regular-m"
          },
          value: {
            text: "" if userCase.startDate.day === undefined else userCase.startDate.day + "-" + userCase.startDate.month + "-"+ userCase.startDate.year
          },
          actions: {
            items: [
              {
                href: PageUrls.START_DATE,
                text: "Change",
                visuallyHiddenText: employmentDetails.startDate
              }
            ]
          } 
        },
        {
          key: {
            text: employmentDetails.noticePeriod,
            classes: "govuk-!-font-weight-regular-m"
          },
          value: {
            text: userCase.noticePeriod
          },
          actions: {
            items: [
              {
                href: PageUrls.NOTICE_PERIOD,
                text: "Change",
                visuallyHiddenText: employmentDetails.noticePeriod
              }
            ]
          } 
        },
        {
          key: {
            text: employmentDetails.noticeLength,
            classes: "govuk-!-font-weight-regular-m"
          },
          value: {
            text: userCase.noticePeriodLength
          },
          actions: {
            items: [
              {
                href: PageUrls.NOTICE_LENGTH,
                text: "Change",
                visuallyHiddenText: employmentDetails.noticeLength
              }
            ]
          } 
        },
        {
          key: {
            text: employmentDetails.noticePeriodWeeksOrMonths,
            classes: "govuk-!-font-weight-regular-m"
          },
          value: {
            text: userCase.noticePeriodUnit
          },
          actions: {
            items: [
              {
                href: PageUrls.NOTICE_TYPE,
                text: "Change",
                visuallyHiddenText: employmentDetails.noticePeriodWeeksOrMonths
              }
            ]
          } 
        },
        {
          key: {
            text: employmentDetails.weeklyHours,
            classes: "govuk-!-font-weight-regular-m"
          },
          value: {
            text: userCase.avgWeeklyHrs
          },
          actions: {
            items: [
              {
                href: PageUrls.AVERAGE_WEEKLY_HOURS,
                text: "Change",
                visuallyHiddenText: employmentDetails.weeklyHours
              }
            ]
          } 
        },
        {
          key: {
            text: employmentDetails.payBeforeTax,
            classes: "govuk-!-font-weight-regular-m"
          },
          value: {
            text: userCase.payBeforeTax
          },
          actions: {
            items: [
              {
                href: PageUrls.PAY,
                text: "Change",
                visuallyHiddenText: employmentDetails.payBeforeTax
              }
            ]
          } 
        },
        {
          key: {
            text: employmentDetails.payAfterTax,
            classes: "govuk-!-font-weight-regular-m"
          },
          value: {
            text: userCase.payAfterTax
          },
          actions: {
            items: [
              {
                href: PageUrls.PAY,
                text: "Change",
                visuallyHiddenText: employmentDetails.payAfterTax
              }
            ]
          } 
        },
        {
          key: {
            text: employmentDetails.payPeriod,
            classes: "govuk-!-font-weight-regular-m"
          },
          value: {
            text: userCase.payInterval
          },
          actions: {
            items: [
              {
                href: PageUrls.PAY,
                text: "Change",
                visuallyHiddenText: employmentDetails.payPeriod
              }
            ]
          } 
        },
        {
          key: {
            text: employmentDetails.pensionScheme,
            classes: "govuk-!-font-weight-regular-m"
          },
          value: {
            text: userCase.claimantPensionContribution  + ": " + userCase.claimantPensionWeeklyContribution if userCase.claimantPensionContribution === "Yes" 
            else userCase.claimantPensionContribution  
          },
          actions: {
            items: [
              {
                href: PageUrls.PENSION,
                text: "Change",
                visuallyHiddenText: employmentDetails.pensionScheme
              }
            ]
          } 
        },
        {
          key: {
            text: employmentDetails.benefits,
            classes: "govuk-!-font-weight-regular-m"
          },
          value: {
            text: userCase.employeeBenefits + ", " + userCase.benefitsCharCount if userCase.employeeBenefits === "Yes"
            else userCase.employeeBenefits
          },
          actions: {
            items: [
              {
                href: PageUrls.BENEFITS,
                text: "Change",
                visuallyHiddenText: employmentDetails.benefits
              }
            ]
          } 
        }
      ]
    }) 
  }}

