{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block content %}
{% set errors = [] %}
{% set formErrors = getErrors(form.fields) %}
{% if formErrors|length %}
{% set errors = errors.concat(formErrors) %}
{% endif %}
{% if (userCase.updateDraftCaseError|length) %}
{% set _ = errors.push({
             text: userCase.updateDraftCaseError,
             href: '/steps-to-making-your-claim'
            }) %}
 {% endif %}
{{
  govukErrorSummary({
    titleText: errorSummaryTitle,
    errorList: errors
  }) if errors.length > 0
}}

{{
  govukErrorSummary({
    titleText: errorSummaryTitle,
    errorList: [
    {
      text: redisError
    }
  ]
  }) if redisError
}}


{% endblock %}
