{% from "govuk/components/footer/macro.njk" import govukFooter %}

{{ govukFooter({
  containerClasses: "app-width-container",
  meta: {
    items: [
      { text: help, href: "https://www.gov.uk/help" },
      { text: privacy, href: "https://www.gov.uk/government/publications/hmcts-privacy-policy/hm-courts-and-tribunals-service-privacy-policy" },
      { text: cookiePolicy, href: "/cookies" },
      { text: accessibility, href: "/accessibility" },
      { text: contact, href: "https://www.gov.uk/guidance/employment-tribunal-offices-and-venues" },
      { text: termsAndConditions, href: "https://www.gov.uk/help/terms-conditions" },
      { text: wasanaethau, href: "https://www.gov.uk/cymraeg" },
      { text: digitalService, href: "https://www.gov.uk/government/organisations/government-digital-service" }
    ]
  },
  contentLicence: {
    html: licence.p1 + '<a class="govuk-footer__link" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">' + licence.p2 + '</a>' + licence.p3
  },
  copyright: {
    text: copyright
  }
}) }}
