{% from "govuk/components/footer/macro.njk" import govukFooter %}

{{ govukFooter({
  meta: {
    items: [
      {
        href: "/guide",
        text: guide
      },
      {
        href: "/terms-and-conditions",
        text: termsAndConditions
      },
      {
        href: "/cookies",
        text: cookiePolicy
      },
      {
        href: "/contact-us",
        text: contact
      }
    ]
  }
}) }}
