{% from "govuk/components/footer/macro.njk" import govukFooter %}

{{ govukFooter({
  meta: {
    items: [
      {
        href: "https://www.gov.uk/help",
        text: help
      },
      {
        href: "https://www.gov.uk/help/privacy-notice",
        text: privacy
      },
      {
        href: "https://www.gov.uk/help/cookies",
        text: cookiePolicy
      },
      {
        href: "/accessibility",
        text: accessibility
      },
      {
        href: "https://www.gov.uk/guidance/employment-tribunal-offices-and-venues",
        text: contact
      },
      {
        href: "https://www.gov.uk/help/terms-conditions",
        text: termsAndConditions
      },
      {
        href: "https://www.gov.uk/cymraeg",
        text: wasanaethau
      },
      {
        href: "https://www.gov.uk/government/organisations/government-digital-service",
        text: digitalService
      }
    ]
  }
}) }}
