{% extends "template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block beforeContent %}
    {{ super() }}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% include "back-link.njk" %}
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-4 govuk-!-margin-top-1">{{ header }}</h1>

            {% for hearing in hearingCollection %}
            <table class="govuk-table">
                <caption class="govuk-table__caption govuk-table__caption--m">{{ hearing.value.hearingNumber }} - {{ hearing.value.Hearing_type }}</caption>
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header govuk-!-width-one-third" scope="col">{{ hearingDate }}</th>
                        <th class="govuk-table__header govuk-!-width-one-third" scope="col">{{ hearingStatus }}</th>
                        <th class="govuk-table__header govuk-!-width-one-third" scope="col">{{ hearingVenue }}</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    {% for hearingDate in hearing.value.hearingDateCollection %}
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">{{ dateTimeInLocale(hearingDate.value.listedDate) }}</td>
                        <td class="govuk-table__cell">{{ hearingDate.value.Hearing_status }}</td>
                        <td class="govuk-table__cell">{{ hearingDate.value.hearingVenueDay.value.label }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endfor %}

            {% set contactContent %}
                {% include "./citizen-hub-sidebar.njk" %}
            {% endset %}

            {{ govukDetails({
                summaryText: contact,
                html: contactContent
            }) }}
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include "./footer.njk" %}
{% endblock %}
