{% extends "template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block beforeContent %}
    {{ super() }}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% include "back-link.njk" %}
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-4 govuk-!-margin-top-1">{{ header }}</h1>

            {% for hearing in hearingDetails %}
              <h2 class="govuk-heading-m">{{ hearing.hearingNumber }} - {{ hearing.Hearing_type }}</h2>

                {% set allNotificationRows = [] %}
                {% for notification in hearing.notifications %}
                    {% set allNotificationRows = (allNotificationRows.push(
                        [
                            {
                                text: notification.value.date
                            },
                            {
                                text: notification.value.sendNotificationTitle
                            }
                        ]
                    ), allNotificationRows) %}
                {% endfor %}

                {% if allNotificationRows != 0 %}
                {{ govukTable({
                    firstCellIsHeader: false,
                    head: [
                        {
                            text: "Notification Date",
                            classes: "govuk-!-width-one-quarter"
                        },
                        {
                            text: "Notification Title"
                        }
                    ],
                    rows: allNotificationRows
                }) }}
                {% endif %}

                {% set allHearingRows = [] %}
                {% for hearingDate in hearing.hearingDateRows %}
                    {% set allHearingRows = (allHearingRows.push(
                        [
                            {
                                text: dateTimeInLocale(hearingDate.date)
                            },
                            {
                                text: hearingDate.status
                            },
                            {
                                text: hearingDate.venue
                            }
                        ]
                    ), allHearingRows) %}
                {% endfor %}

                {{ govukTable({
                    firstCellIsHeader: false,
                    head: [
                        {
                            text: hearingDate,
                            classes: "govuk-!-width-one-third"
                        },
                        {
                            text: hearingStatus,
                            classes: "govuk-!-width-one-third"
                        },
                        {
                            text: hearingVenue,
                            classes: "govuk-!-width-one-third"
                        }
                    ],
                    rows: allHearingRows
                }) }}
            {% endfor %}

            {% set contactContent %}
                {% include "./citizen-hub-sidebar.njk" %}
            {% endset %}

            {{ govukDetails({
                summaryText: contact,
                html: contactContent
            }) }}
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include "./footer.njk" %}
{% endblock %}
