{% extends "template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4 ">{{ pageTitle }}</h1>
      <p class="govuk-body">{{ serviceInfo }}</p>
      {{ govukInsetText({
        text: infoTxt
      }) }}
      {{ govukWarningText({
        html: warningTxt1,
        iconFallbackText: warningTxt
      }) }}
      <p class="govuk-body">{{ saveInfo }}</p>
      {{ govukWarningText({
        html: warningTxt2,
        iconFallbackText: warningTxt
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: startANewClaim,
          href: redirectUrl
        }) }}

        {{ govukButton({
          text: returnToDraftOrSubmittedClaim,
          classes: "govuk-button--secondary",
          href: returnToExistingUrl
        }) }}
      </div>

      <h2 class="govuk-heading-m">{{ contactUsHelpTitle }}</h2>
      <div class="govuk-body">
        <p class="govuk-body">{{ contactUsForeword }}</p>
        <ul class="govuk-list">
          <li>{{ contactDuration }}</li>
          <li>{{ mainTelephone }}</li>
          <li>{{ welshTelephone }}</li>
          <li>{{ scotlandTelephone }}</li>
          {% if i18n.language == "en" %}
          <li>Webchat: {{ webChatModal() }} ({{ scotlandOnly }})</li>
          {% endif %}
        </ul>
        <p class="govuk-body">
          <a href="https://www.gov.uk/call-charges" class="govuk-link" target="_blank">
            {{ contactCharges }}
          </a>
        </p>
        </div>
      </div>
    </div>
{% endblock %}
