{% extends "template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4 ">{{ pageTitle }}</h1>
      <p class="govuk-body">{{ serviceInfo }}</p>
      {{ govukInsetText({
        text: infoTxt
      }) }}
      {{ govukWarningText({
        html: warningTxt1,
        iconFallbackText: warningTxt
      }) }}
      <p class="govuk-body">{{ saveInfo }}</p>
      {{ govukWarningText({
        html: warningTxt2,
        iconFallbackText: warningTxt
      }) }}
      {{ govukButton({
        text: startNow,
        href: redirectUrl,
        isStartButton: true
      }) }}
      <ul class="govuk-list">
        <li><b>{{ claimStartedTxt }}</b></li>
        <li><a href="{{PageUrls.RETURN_TO_EXISTING + languageParam}}" class="govuk-link">{{ returnClaimTxt }}</a></li>
      </ul>
      <h2 class="govuk-heading-m">{{ contactUsHelpTitle }}</h2>
      <div class="govuk-body">
          {{ contactUsForeword|safe }}
          <br><br>
          {{ contactDuration|safe }}<br/>
          {{ mainTelephone|safe }}<br/>
          {{ welshTelephone|safe }}<br/>
          {{ scotlandTelephone|safe }}<br/>
          {{ englandOrWalesTextPhone|safe }}<br/>
          {{ scotlandTextPhone|safe }}
          {% if i18n.language == "en" %}
            <table><tr><td>Webchat:</td><td>{{ webChatModal() }}</td><td>({{ scotlandOnly }})</td></tr></table><br/>
          {% else %}
            <br/><br/>
          {% endif %}
          <p class="govuk-body" style="margin:0;">
          <a href="https://www.gov.uk/call-charges" class="govuk-link">
            {{ contactCharges|safe }}
          </a>
          </p>
        </div>
      </div>
    </div>
{% endblock %}
