{% extends "template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block beforeContent %}
  {{ super() }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "back-link.njk" %}
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4 govuk-!-margin-top-1">{{ header }}</h1>

      {{ govukSummaryList({
      rows: appContent
      }) 
    }}
    </div>

    {% set sideBarContent %}
    {% include "./citizen-hub-sidebar.njk" %}
    {% endset %}

    {{ govukDetails({
        summaryText: "Contact",
        html: sideBarContent
      }) }}
  </div>
</div>
{% endblock %}

{% block footer %}
{% include "./footer.njk" %}
{% endblock %}