{% extends "template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block beforeContent %}
  {{ super() }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "back-link.njk" %}
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4 govuk-!-margin-top-1">{{ header }}</h1>

      {% if selectedDecision !== undefined %}
        {{ govukSummaryList({
            rows: pageContent[0]
           }) 
          }}
      {% endif %}

      {% if (selectedDecisionApplication.value.respondCollection.length) and (selectedDecision !== undefined) %}
        <h1 class="govuk-summary-list__key govuk-heading-m govuk-!-margin-top-1">{{ otherPartyResponseHeader }}</h1>
        {{ govukSummaryList({
                rows: pageContent[1]
                  }) 
                }}
      {% endif %}

      {% if selectedDecision !== undefined %}
        <h1 class="govuk-summary-list__key govuk-heading-m govuk-!-margin-top-1">{{ decision }}</h1>
        {{ govukSummaryList({
             rows: pageContent[2]
               }) 
             }}
      {% endif %}

      {% if selectedJudgment !== undefined %}
        {{ govukSummaryList({
            rows: pageContent
              }) 
            }}
      {% endif %}

    </div>

    <div class="govuk-grid-column-one-third-from-desktop">
      {% set sideBarContent %}
      {% include "./citizen-hub-sidebar.njk" %}
      {% endset %}

      <div class="govuk-!-margin-top-2">
        {{ govukDetails({
          summaryText: contact,
          html: sideBarContent
        }) }}
      </div>
    </div>

  </div>
{% endblock %}

{% block footer %}
  {% include "./footer.njk" %}
{% endblock %}