{% extends "template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ super() }}
  {% include "back-link.njk"%}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--interruption">
        <h1 class="govuk-panel__title">{{ h1 }}</h1>
        <p class="govuk-panel__body">{{ p1 }}</p>
        <p class="govuk-panel__body">{{ p2 }}</p>
      </div>
    </div>
  </div>
{% endblock %}

{% set languageParam = "" %}
{% if "lng=cy" in currentUrl %}
  {% set languageParam = "?lng=cy" %}
{% else %}
  {% set languageParam = "?lng=en" %}
{% endif %}

{% block footer %}
  <div class="govuk-width-container">
    <div class="govuk-button-group">
      {{ govukButton({
        text: continue,
        href: redirectUrl
      }) }}

      {{ govukButton({
        text: saveForLater,
        classes: "govuk-button--secondary",
        href: PageUrls.CLAIM_SAVED + languageParam
      }) }}
    </div>
  </div>
  {{ super() }}
{% endblock %}