{% extends "template.njk" %}

{% block beforeContent %}
  {{ super() }}
  {% include "back-link.njk"%}
{% endblock %}

{% block content %}
  {% block errorSummary %}
    {% include "error-summary.njk" %}
  {% endblock %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% if employmentStatus === onNotice and noticeType === noticeWeeks %}
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4 ">{{ h1.noticeWeeks }}</h1>
      {% elif employmentStatus === onNotice and noticeType !== noticeWeeks %}
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4 ">{{ h1.noticeMonths }}</h1>
      {% elif employmentStatus !== onNotice and noticeType === noticeWeeks %}
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4 ">{{ h1.nonNoticeWeeks }}</h1>
      {% else %}
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4 ">{{ h1.nonNoticeMonths }}</h1>
      {% endif %}

      {% block form %}
        {% include "form/form.njk" %}
      {% endblock %}

    </div>
  </div>
{% endblock %}