{% extends "template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block beforeContent %}
  {{ super() }}
  {% include "back-link.njk"%}
{% endblock %}

{% block content %}
  {% block errorSummary %}
    {% include "error-summary.njk" %}
  {% endblock %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    {% if employmentStatus === noLongerWorking %}
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4 ">{{ h1.noLongerWorking }}</h1>
      {% else %}
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4 ">{{ h1.workingOrNotice }}</h1>
      {% endif %}

      {% block form %}
        {% include "form/form.njk"%}
      {% endblock %}
    </div>
  </div>
{% endblock %}