{% extends "template.njk" %}

{% block beforeContent %}
  {{ super() }}
  {% include "back-link.njk"%}
{% endblock %}

{% block content %}
  {% block errorSummary %}
    {% include "error-summary.njk" %}
  {% endblock %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if employmentStatus === onNotice %}
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4 ">{{ h1.notice }}</h1>
      {% else %}
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4 ">{{ h1.nonNotice }}</h1>
      {% endif %}

      {% block form %}
        {% include "form/form.njk" %}
      {% endblock %}

    </div>
  </div>
{% endblock %}