{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends "template.njk" %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">{{ h1 }}</h1>
      <p class="govuk-body"> {{ p1 }} </p>

      {{ govukInsetText({
        text: insetText
      }) }}

      {{ govukWarningText({
        text: warning,
        iconFallbackText: "Warning"
      }) }}
      <p class="govuk-body"> {{ p2 }} </p>

      {{ govukButton({
        text: startNow,
        href: "#",
        isStartButton: true
      }) }}
      <h3> {{ h3 }} </h3>
      <a href="#" class="govuk-link">{{ returnToClaim }}</a>
    </div>
  </div>
{% endblock %}
