{% extends "template.njk" %}

{% block beforeContent %}
  {{ super() }}
  {% include "back-link.njk"%}
{% endblock %}

{% block content %}
  {% block errorSummary %}
    {% include "error-summary.njk" %}
  {% endblock %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4 ">{{ h1 }}</h1>
      {% if employmentStatus === notWorking %}
        <p class="govuk-body">{{ p1.noLongerWorking }}</p>
        <p class="govuk-body">{{ p2.noLongerWorking }}</p>
      {% else %}
        <p class="govuk-body">{{ p1.workingOrNotice }}</p>
        <p class="govuk-body">{{ p2.workingOrNotice }}</p>
      {% endif %}
      {% block form %}
        {% include "form/form.njk" %}
      {% endblock %}
    </div>
  </div>
{% endblock %}