{% extends "template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block beforeContent %}
  {{ super() }}
  {% include "back-link.njk"%}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
    <br>
      <h2 class="govuk-heading-l">{{ pHead }}</h2>
        <div class="govuk-body ">
          {{ p1 }}
          </br> 
          {{ p2 }}
          </br> 
          {{ p3 }}
          </br> 
          {{ p4 }}
          </br> 
          {{ p5 }}
          </br> 
          {{ p6 }}
          </br> 
          {{ p7 }}
          </br> 
        </div>

        {{ govukInsetText({
          text: insetText
        }) }}
    <br>
      <div class="govuk-button-group">
          {{ govukButton({
            text: button,
            href: redirectUrl,
            isStartButton: true
          }) }}
          <a class="govuk-link" href={{ cancelPage }}>{{ cancelLink }}</a>
      </div>     
    </div>
    
    <div class="govuk-grid-column-one-third-from-desktop">
      {% set sideBarContent %}
        {% include "./citizen-hub-sidebar.njk" %}
      {% endset %}
        {{ govukDetails({
          summaryText: contact,
          html: sideBarContent
        }) }}
    </div>
  </div>
{% endblock %}