{% extends "template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block beforeContent %}
  {{ super() }}
  {% include "back-link.njk"%}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
    <br>
      <h2 class="govuk-heading-l">{{ pHead }}</h2>
        <div class="govuk-body">
          <p>{{ p1 }}</p>
          <p>{{ p2 }}</p>
          <p>{{ p3 }}</p>
          <p>{{ p4 }}</p>
          <p>{{ p5 }}</p>
          <p>{{ p6 }}</p>
          <p>{{ p7 }}</p>
        </div>

        {{ govukInsetText({
          text: insetText
        }) }}
    <br>
      {% if bundlesEnabled %}
        <div class="govuk-button-group">
            {{ govukButton({
              text: startNow,
              href: redirectUrl,
              isStartButton: true
            }) }}
            <a class="govuk-link" href={{ cancelPage }}>{{ cancel }}</a>
        </div>
      {% else %}
        <div class="govuk-button-group">
            {{ govukButton({
              text: startNow,
              href: cancel,
              disabled: true
            }) }}
            <a class="govuk-link" href={{ cancelPage }}>{{ cancel }}</a>
        </div>
      {% endif %}
    </div>

    <div class="govuk-grid-column-one-third-from-desktop">
      {% set sideBarContent %}
        {% include "./citizen-hub-sidebar.njk" %}
      {% endset %}
        {{ govukDetails({
          summaryText: contact,
          html: sideBarContent
        }) }}
    </div>
  </div>
{% endblock %}
