{% extends "template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block beforeContent %}
  {{ super() }}
  {% include "back-link.njk"%}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-4">{{ title }}</h2>
            {% for respondent in respondents %}
            <h2 class="govuk-heading-m">{{ subTitle + respondent.respondentNumber }}</h2>
              {{ govukSummaryList({
                  rows: [
                    {
                      key: {
                        text: name
                      },
                      value: {
                        text: respondent.respondentName
                      },
                      actions: {
                        items: [
                          {
                            href: PageUrls.RESPONDENT_NAME,
                            text: "Change",
                            visuallyHiddenText: "name"
                          }
                        ]
                      }
                    },
                    {
                      key: {
                        text: address
                      },
                      value: {
                        text: respondent.respondentAddress1 + ', ' + respondent.respondentAddressPostcode
                      },
                      actions: {
                        items: [
                          {
                            href: PageUrls.RESPONDENT_ADDRESS,
                            text: "Change",
                            visuallyHiddenText: "address"
                          }
                        ]
                      }
                    },
                    {
                      key: {
                        text: acasNum
                      },
                      value: {
                        html: respondent.acasCertNum
                      },
                      actions: {
                        items: [
                          {
                            href: PageUrls.ACAS_CERT_NUM,
                            text: "Change",
                            visuallyHiddenText: "acasCertNum"
                          }
                        ]
                      }
                    }
                  ]
                }) 
              }}

            {% endfor %}


  
      {% block form %}
        {% include "form/form.njk"%}
      {% endblock %}
    </div>
  </div>
  <div class="govuk-grid-row">
      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save and continue",
          href: "/employment-respondent-task-check"
        }) }}

        {{ govukButton({
          text: "Save as draft",
          classes: "govuk-button--secondary",
          href: "/your-claim-has-been-saved"
        }) }}
      </div>
    </div> 
{% endblock %}