{% extends "template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "components/hmcts-progress-bar/macro.njk" import hmctsProgressBar %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block beforeContent %}
  {{ super() }}
  {% include "back-link.njk"%}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-xl">
        {{ h1 }}
      </h1>

      {# TODO: Remove this when ECC Flag is live #}

      {% set et3FormRows = [] %}
      {% set documentsRows = [] %}
      {% if et3Forms.length %}
        {% for et3Form in et3Forms %}
          {% set _ = et3FormRows.push(
            [
              {
                text: et3Form.createdOn
              },
              {
                text: et3FormText
              },
              {
                html: "<a href=\"/getCaseDocument/" + et3Form.id + "\" target=\"_blank\" class=\"govuk-link\">" + et3Form.originalDocumentName + "</a>"
              }
            ]
          ) %}
        {% endfor %}
      {% endif %}

      {% if et3Attachments.length %}
        {% for et3Attachment in et3Attachments %}
          {% set _ = documentsRows.push(
            [
              {text: et3Attachment.createdOn},
              {
                text: et3AttachmentText
              },
              {
                html: "<a href=\"/getCaseDocument/" + et3Attachment.id + "\" target=\"_blank\" class=\"govuk-link\">" + et3Attachment.originalDocumentName + "</a>"
              }
            ]
          ) %}
        {% endfor %}
      {% endif %}
      {% if et3AcceptedDocs.length %}
        {% for et3AcceptedDoc in et3AcceptedDocs %}
          {% set _ = documentsRows.push(
            [
              {
                text: et3AcceptedDoc.createdOn
              },
              {
                text: acceptanceLetter
              },
              {
                html: "<a href='../getCaseDocument/"+ et3AcceptedDoc.id + "' class=\"govuk-link\">" + et3AcceptedDoc.originalDocumentName + "</a>"
              }
            ]
          ) %}
        {% endfor %}
      {% endif %}

      {% if et3RejectionDocs.length %}
        {% for et3RejectionDoc in et3RejectionDocs %}
          {% set _ = documentsRows.push(
            [
              {
                text: et3RejectionDoc.createdOn
              },
              {
                text: rejectionLetter
              },
              {
                html: "<a href='../getCaseDocument/"+ et3RejectionDoc.id + "' class=\"govuk-link\">" + et3RejectionDoc.originalDocumentName + "</a>"
              }
            ]
          ) %}
        {% endfor %}
      {% endif %}

      {% if et3SupportingDocs.length and not et3RejectionDocs.length %}
        {% for et3SupportingDoc in et3SupportingDocs %}
          {% set _ = documentsRows.push(
            [
              {text: ""},
              {
                text: supportingMaterials
              },
              {
                html: "<a href=\"/getCaseDocument/" + et3Form.id + "\" target=\"_blank\" class=\"govuk-link\">" + et3SupportingDoc.originalDocumentName + "</a>"
              }
            ]
          ) %}
        {% endfor %}
      {% endif %}

      {# END TODO #}

      {% if eccFlag %}
        {{ govukTable({
          caption: h2,
          firstCellIsHeader: true,
          captionClasses: "govuk-table__caption--m",
          rows: tableContents
        }) }}
      {% else %}
        {{ govukTable({
          caption: et3H2Text,
          firstCellIsHeader: true,
          captionClasses: "govuk-table__caption--m",
          rows: et3FormRows
        }) }}

        {{ govukTable({
          caption: h2,
          firstCellIsHeader: true,
          captionClasses: "govuk-table__caption--m",
          rows: documentsRows
        }) }}
      {% endif %}

    </div>

    <div class="govuk-grid-column-one-third-from-desktop">

      {% set sideBarContent %}
        {% include "./citizen-hub-sidebar.njk" %}
      {% endset %}

      {{ govukDetails({
        summaryText: contact,
        html: sideBarContent
      }) }}

    </div>

  </div>

{% endblock %}
