{% extends "template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block beforeContent %}
  {{ super() }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "back-link.njk" %}
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4 govuk-!-margin-top-1">{{ header }}</h1>

      {{ govukSummaryList({
      rows: appContent
      }) 
    }}

      {% for respCol in selectedApplication.value.respondCollection %}
        <h2 class="govuk-summary-list__key govuk-heading-m govuk-!-margin-top-1">{{ responseItem }} {{ loop.index }}</h2>
        {% if respCol.value.from === "Claimant" %}
          {{ govukSummaryList({
              rows: [
                {
                  key: {
                  text: responseFrom,
                  classes: "govuk-!-font-weight-regular-m"
                },
                  value: { text: claimant }
                },
                {
                  key: {
                  text: responseDate,
                  classes: "govuk-!-font-weight-regular-m"
                },
                  value: { text: respCol.value.date }
                },
                {
                  key: {
                  text: response,
                  classes: "govuk-!-font-weight-regular-m"
                },
                  value: { text: respCol.value.response }
                },
                {
                  key: {
                  text: supportingMaterial,
                  classes: "govuk-!-font-weight-regular-m"
                },
                  value: { html: responseDocDownloadLink }
                },
                {
                  key: {
                  text: copyCorrespondence,
                  classes: "govuk-!-font-weight-regular-m"
                },
                  value: { text: respCol.value.copyToOtherParty }
                }
              ]
            }) }}
          {% endif %} 
          {% if respCol.value.from === "Admin" %}
          {{ govukSummaryList({
              rows: [
                {
                  key: {
                  text: responseItem,
                  classes: "govuk-!-font-weight-regular-m"
                },
                  value: { text: respCol.value.enterResponseTitle }
                },
                {
                  key: {
                  text: date,
                  classes: "govuk-!-font-weight-regular-m"
                },
                  value: { text: respCol.value.date }
                },
                {
                  key: {
                  text: sentBy,
                  classes: "govuk-!-font-weight-regular-m"
                },
                  value: { text: tribunal }
                },
                {
                  key: {
                  text: orderOrRequest,
                  classes: "govuk-!-font-weight-regular-m"
                },
                  value: { text: respCol.value.isCmoOrRequest }
                },
                {
                  key: {
                  text: responseDue,
                  classes: "govuk-!-font-weight-regular-m"
                },
                  value: { text: respCol.value.isResponseRequired }
                },
                {
                  key: {
                  text: partyToRespond,
                  classes: "govuk-!-font-weight-regular-m"
                },
                  value: { text: respCol.value.selectPartyRespond }
                },
                {
                  key: {
                  text: additionalInfo,
                  classes: "govuk-!-font-weight-regular-m"
                },
                  value: { text: respCol.value.additionalInformation }
                },
                {
                  key: {
                  text: description,
                  classes: "govuk-!-font-weight-regular-m"
                },
                  value: { text: respCol.value?.addDocument[0].typeOfDocument }
                },
                {
                  key: {
                  text: document,
                  classes: "govuk-!-font-weight-regular-m"
                },
                  value: { text: respCol.value?.addDocument[0].uploadedDocument.documentFilename }
                },
                {
                  key: {
                  text: requestMadeBy,
                  classes: "govuk-!-font-weight-regular-m"
                },
                  value: { text: respCol.value.requestMadeBy }
                },
                {
                  key: {
                  text: name,
                  classes: "govuk-!-font-weight-regular-m"
                },
                  value: { text: respCol.value.madeByFullName }
                },
                {
                  key: {
                  text: sentTo,
                  classes: "govuk-!-font-weight-regular-m"
                },
                  value: { text: respCol.value.selectPartyNotify }
                }
                
              ]
            }) }}      
        
        {% endif %}
      {% endfor %}

      {% if respondButton %}
        {{ govukButton({
            text: respond,
            href: redirectUrl
          }) }}
      {% endif %}

      {% if adminRespondButton %}
        {{ govukButton({
            text: respond,
            href: '/respond-to-tribunal-response'
          }) }}
      {% endif %}

      {% if selectedApplication.value.adminDecision.length %}
        <h2 class="govuk-summary-list__key govuk-heading-m govuk-!-margin-top-1">{{ decision }}</h2>
        {{ govukSummaryList({
          rows: decisionContent
          }) 
        }}
        <br>
      {% endif %}

    </div>

    {% set sideBarContent %}
    {% include "./citizen-hub-sidebar.njk" %}
    {% endset %}

    {{ govukDetails({
        summaryText: "Contact",
        html: sideBarContent
      }) }}
  </div>
</div>
{% endblock %}

{% block footer %}
{% include "./footer.njk" %}
{% endblock %}