{% extends "template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block beforeContent %}
  {{ super() }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "back-link.njk" %}
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4 govuk-!-margin-top-1">{{ header }}</h1>

      {{ govukSummaryList({
      rows: appContent
      }) 
    }}

      {% if respondButton %}
        {{ govukButton({
            text: respond,
            href: redirectUrl
          }) }}
      {% endif %}

      {% for respCol in selectedApplication.value.respondCollection %}
        {% if respCol.value.from === "Claimant" %}
          <h2 class="govuk-summary-list__key govuk-heading-m govuk-!-margin-top-1">{{ otherPartyResponseHeader }}</h2>
          {{ govukSummaryList({
              rows: [
                {
                  key: {
                  text: responseFrom,
                  classes: "govuk-!-font-weight-regular-m"
                },
                  value: { text: claimant }
                },
                {
                  key: {
                  text: responseDate,
                  classes: "govuk-!-font-weight-regular-m"
                },
                  value: { text: respCol.value.date }
                },
                {
                  key: {
                  text: response,
                  classes: "govuk-!-font-weight-regular-m"
                },
                  value: { text: respCol.value.response }
                },
                {
                  key: {
                  text: supportingMaterial,
                  classes: "govuk-!-font-weight-regular-m"
                },
                  value: { html: claimantResponseDocDownloadLink }
                },
                {
                  key: {
                  text: copyCorrespondence,
                  classes: "govuk-!-font-weight-regular-m"
                },
                  value: { text: respCol.value.copyToOtherParty }
                }
              ]
            }) }}
        {% endif %}
      {% endfor %}

      {% if selectedApplication.value.adminDecision.length %}
        <h2 class="govuk-summary-list__key govuk-heading-m govuk-!-margin-top-1">{{ decision }}</h2>
        {{ govukSummaryList({
          rows: decisionContent
          }) 
        }}
        <br>
      {% endif %}

    </div>

    {% set sideBarContent %}
    {% include "./citizen-hub-sidebar.njk" %}
    {% endset %}

    {{ govukDetails({
        summaryText: "Contact",
        html: sideBarContent
      }) }}
  </div>
</div>
{% endblock %}

{% block footer %}
{% include "./footer.njk" %}
{% endblock %}