{% extends "template.njk" %}

{% block beforeContent %}
  {{ super() }}
  {% include "back-link.njk"%}
{% endblock %}

{% block content %}
  {% block errorSummary %}
    {% include "error-summary.njk" %}
  {% endblock %}
  <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Steps to making your claim</h1>
  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m"></caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header"></th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__cell"></th>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__cell"></th>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__cell"></th>
      </tr>
    </tbody>
  </table>
  
  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header"></th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__cell"></th>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__cell"></th>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__cell"></th>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__cell"></th>
      </tr>
    </tbody>
  </table>

  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header"></th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__cell"></th>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__cell"></th>
      </tr>
    </tbody>
  </table>
  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m"></caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header"></th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__cell"></th>
      </tr>
    </tbody>
  </table>
{% endblock %}
