{% extends "template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ super() }}
  {% include "back-link.njk"%}
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">{{h1}} TODO</h1>
  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">{{ section1.title }}</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__cell">  
        <a href="{{ PageUrls.DOB_DETAILS }}" class="govuk-link">
        {{ section1.link1Txt }}
        </a>
        </th>
        <th scope="row" class="govuk-table__cell">TODO</th>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__cell">
        <a href="{{ PageUrls.ADDRESS_DETAILS }}" class="govuk-link">
        {{ section1.link2Txt }}
        </a>
        </th>
        <th scope="row" class="govuk-table__cell">TODO</th>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__cell">
        <a href="{{ PageUrls.UPDATE_PREFERENCES }}" class="govuk-link">
        {{ section1.link3Txt }}
        </a>
        </th>
        <th scope="row" class="govuk-table__cell">TODO</th>
      </tr>
    </tbody>
  </table>
  
  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">{{section2.title}}</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__cell">{{section2.link1Txt}}</th>
        <th scope="row" class="govuk-table__cell">TODO</th>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__cell">{{section2.link2Txt}}</th>
        <th scope="row" class="govuk-table__cell">TODO</th>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__cell">{{section2.link3Txt}}</th>
        <th scope="row" class="govuk-table__cell">TODO</th>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__cell">{{section2.link4Txt}}</th>
        <th scope="row" class="govuk-table__cell">TODO</th>
      </tr>
    </tbody>
  </table>

  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">{{section3.title}}</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__cell">{{section3.link1Txt}}</th>
        <th scope="row" class="govuk-table__cell">TODO</th>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__cell">{{section3.link2Txt}}</th>
        <th scope="row" class="govuk-table__cell">TODO</th>
      </tr>
    </tbody>
  </table>
  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">{{section4.title}}</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__cell">{{section4.link1Txt}}</th>
        <th scope="row" class="govuk-table__cell">TODO</th>
      </tr>
    </tbody>
  </table>

  {{ govukButton({
    text: saveForLater,
    classes: "govuk-button--secondary",
    href: PageUrls.CLAIM_SAVED
  }) }}

{% endblock %}
