{% extends "template.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ super() }}
  {% include "back-link.njk"%}
{% endblock %}

{% block content %}
  <div class="govuk-!-width-two-thirds">
    {{ govukPanel({
      titleText: titleText
    }) }}

    <p class="govuk-heading-m">{{whatHappensNext}}</p>
    <p class="govuk-body">{{youMustSubmitYourApplication}}</p>
    <p class="govuk-body"><a href="{{viewThisCorrespondenceLink}}" class="govuk-link">{{viewThisCorrespondence}}</a></p>
    <p class="govuk-body">{{viewTheSupportingDocuments}}:
      <a href="{{fileNameOfSupportingDocLink}}" class="govuk-link">{{fileNameOfSupportingDocName}}</a></p>
    {{ govukButton({
      text: closeAndReturn,
      classes: 'govuk-!-margin-right-2',
      type: "submit",
      preventDoubleClick: true,
      attributes: {
        id: 'return-to-case-overview'
      }
    }) }}
  </div>
{% endblock %}
