{% extends "template.njk" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block beforeContent %}
  {{ super() }}
  {% include "back-link.njk"%}
{% endblock %}

{% block content %}
  {% block errorSummary %}
    {% include "error-summary.njk" %}
  {% endblock %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4 ">{{ h1 }}</h1>
      <p class="govuk-body">{{ p1 }}</p>
      <p class="govuk-body">{{ p2 }}</p>
      <p class="govuk-body">{{ p3 }}</p>
      <p class="govuk-body">{{ p4 }}</p>
      {{ govukInsetText({
        text: insetText
      }) }}
      <h2 class="govuk-heading-m">{{ subTitle1 }}</h2>
      <p class="govuk-body govuk-!-margin-bottom-7">{{ p5 }}</p>
      {{ govukDetails({
        summaryText: collapsableSection1.linkText,
        html: "<p class='govuk-body'>"+collapsableSection1.p1+"</p>
              <p class='govuk-body'>"+collapsableSection1.p2+"</p>"
      }) }}
      {{ govukDetails({
        summaryText: collapsableSection2.linkText,
        html: "<p class='govuk-body'>"+collapsableSection2.p1+"</p>
              <p class='govuk-body'>"+collapsableSection2.p2+"</p>"
      }) }}
      {{ govukDetails({
        summaryText: collapsableSection3.linkText,
        html: "<p class='govuk-body'>"+collapsableSection3.p1+"</p>
              <ol class='govuk-list govuk-list--number'>
                <li>"+collapsableSection3.li1+"</li>
                <li>"+collapsableSection3.li2+"</li>
                <li>"+collapsableSection3.li3+"</li>
              </ol>"
      }) }}
      {{ govukDetails({
        summaryText: collapsableSection4.linkText,
        html: "<ol class='govuk-list govuk-list--number'>
                <li>"+collapsableSection4.li1+"</li>
                <li>"+collapsableSection4.li2+"</li>
              </ol>"
      }) }}
      {% block form %}
        {% include "form/form.njk"%}
      {% endblock %}
    </div>
  </div>
{% endblock %}
