{% extends "govuk/template.njk" %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "components/timeout-modal.njk" import timeoutModal with context %}
{% from "components/web-chat.njk" import webChatModal %}

{% set htmlLang = i18n.language %}

{% block head %}
  {% include "webpack/css.njk" %}
    <link rel="icon" sizes="48x48" href="/assets/rebrand/images/favicon.ico">
    <link rel="icon" sizes="any" href="/assets/rebrand/images/favicon.svg" type="image/svg+xml">
    <link rel="mask-icon" href="/assets/rebrand/images/govuk-icon-mask.svg" color="#1d70b8">
    <link rel="apple-touch-icon" href="/assets/rebrand/images/govuk-icon-180.png">
    <link rel="manifest" href="/assets/rebrand/manifest.json">
    <meta property="og:image" content="/assets/rebrand/images/govuk-opengraph-image.png">
    <meta name="theme-color" content="#1d70b8">
  <script>
    window.dataLayer = window.dataLayer || [];
  </script>
  {% if "perftest" in currentHost %}
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-M8XNFRG');</script>
    <!-- End Google Tag Manager -->
  {% else %}
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer'
            ? '&l=' + l
            : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f
          .parentNode
          .insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-M29HRGV');
    </script>
    <!-- End Google Tag Manager -->
  {% endif %}
  <meta name="format-detection" content="telephone=no">
{% endblock %}

{% block bodyStart %}
  {% if "perftest" in currentHost %}
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M8XNFRG" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
  {% else %}
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M29HRGV" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
  {% endif %}

  {% if "aat" in currentHost %}
    <!-- Dynatrace RUM Script -->
      <script
        type="text/javascript"
        src="https://js-cdn.dynatrace.com/jstag/17177a07246/bf24054dsx/1a4a5be3b17a10d3_complete.js"
        crossorigin="anonymous"
        integrity="sha384-aUT3/SyKozbxn10l4zUb60qhHEHkSXypspWXUCM+Eflbwz2Ks54bB6DrYR2YDsCy"
      > </script>
    <!-- End Dynatrace RUM Script -->
  {% endif %}

  {% if "claim-employment-tribunals" in currentHost %}
    <!-- Dynatrace RUM Script -->
      <script type="text/javascript" src="https://js-cdn.dynatrace.com/jstag/17177a07246/bf00910jpo/15d45f7c5933b5bc_complete.js"crossorigin="anonymous"></script>
    <!-- End Dynatrace RUM Script -->
  {% endif %}

  <!-- Hidden session object for user already logged in check -->
  <input type="hidden" id="isLoggedIn" name="isLoggedIn" value="{{isLoggedIn}}">
  <!-- End of hidden session object for user already logged in check-->
{% endblock %}

{% block header %}
  {% include "cookie-banner.njk" %}
  {% include "./header.njk" %}
{% endblock %}

{% block pageTitle %}
  {{ title }}
  -
  {{ serviceName }}
  -
  {{ govUk }}
{% endblock %}

{% block beforeContent %}

  {% set smartSurveyPageInfo = currentUrl | replace("/", "") %}

  {% set phaseBarHtml = '<a class="govuk-link" href="' + phaseBanner.smartSurveyFeedbackUrl + smartSurveyPageInfo + '" target="_blank">' + phaseBanner.feedback + "</a> " + phaseBanner.additionalText %}


  {% if welshEnabled == null or welshEnabled === 'undefined' or welshEnabled === true %}
    {% set queryStringConcat = "" %}

    {% if "lng=" in currentUrl %}
      {% set currentUrl = currentUrl | replace("?lng=en", "") | replace("&lng=en", "") | replace("?lng=cy", "") | replace("&lng=cy", "") %}
    {% endif %}

    {% if "?" not in currentUrl %}
      {% set queryStringConcat = "?" %}
    {% else %}
      {% set queryStringConcat = "&" %}
    {% endif %}

    {% set languageFlag = "" %}
    {% if i18n.language == "en" %}
      {% set languageFlag = queryStringConcat + "lng=cy" %}
    {% else %}
      {% set languageFlag = queryStringConcat + "lng=en" %}
    {% endif %}

    {% set phaseBarHtml = phaseBarHtml + (phaseBanner.languageToggle | replace("{currentUrl}", currentUrl) | replace("{languageFlag}", languageFlag)) %}
  {% else %}
  {% endif %}

  {{ timeoutModal() }}

  {{ govukPhaseBanner({
      tag: {
          text: beta
      },
      html: phaseBarHtml,
      rebrand: true
  }) }}
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  {% include "webpack/js.njk" %}
{% endblock %}

{% block footer %}
  {% if "/" !== currentUrl and "/?lng=en" != currentUrl and "/?lng=cy" != currentUrl and hideContactUs === undefined %}
    <div class="govuk-width-container">
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span id="contact-us-dropdown-link" class="govuk-details__summary-text">
            {{ contactUsTitle }}
          </span>
        </summary>
        <div class="govuk-details__text">
          {{ contactUsForeword }}
          <br><br>
          {{ contactDuration }}<br/>
          {{ mainTelephone }}<br/>
          {{ welshTelephone }}<br/>
          {{ scotlandTelephone }}<br/>
          {% if i18n.language == "en" %}
            <table><tr><td>Webchat:</td><td>{{ webChatModal() }}</td><td>({{ scotlandOnly }})</td></tr></table><br/>
          {% else %}
            <br/><br/>
          {% endif %}
          <a href="https://www.gov.uk/call-charges" class="govuk-link" target="_blank">{{ contactCharges }}</a>
        </div>
      </details>
    </div>
  {% endif %}

  {% include "./footer.njk" %}
{% endblock %}
