{% extends "template.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block beforeContent %}
  {{ super() }}
  {% include "back-link.njk"%}
{% endblock %}

{% block content %}
  {% block errorSummary %}
   {% include "error-summary.njk" %}
  {% endblock %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4 ">{{ h1 }}</h1>
    <div>
    <label class="govuk-label govuk-!-padding-bottom-2">
      {{ hint }}
    </label>
  <div>

  {% block form %}
    {% include "form/form.njk"%}
  {% endblock %}
{% endblock %}