{% extends "template.njk" %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block beforeContent %}
  {{ super() }}
  {% include "back-link.njk"%}
{% endblock %}

{% block content %}

  {% block errorSummary %}
    {% set yourSupportRedirectError = getError('yourSupportRedirect') %}
    {% set reasonableAdjustmentsError = getError('reasonableAdjustments') %}
    {% set errors = [] %}
    {% if yourSupportRedirectError %}
      {% set _ = errors.push({
        text: yourSupportRedirectError.text,
        href: '#start-support-request'
      }) %}
    {% endif %}
    {% if reasonableAdjustmentsError %}
      {% set _ = errors.push({
        text: reasonableAdjustmentsError.text,
        href: '#start-support-request'
      }) %}
    {% endif %}
    {{
      govukErrorSummary({
        titleText: errorSummaryTitle,
        errorList: errors
      }) if errors.length > 0
    }}
  {% endblock %}
      
<h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
<span class="govuk-caption-l">{{ legend }}</span>
{{ h1 }}
</h1>
<p class="govuk-body">{{ p }}</p>
<div>
    <p class="govuk-body">{{ detailsSummary.subheading }}</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>{{ detailsSummary.bullet1 }} </li>
      <li>{{ detailsSummary.bullet2 }} </li>        
      <li>{{ detailsSummary.bullet3 }} </li>
      <li>{{ detailsSummary.bullet4 }} </li>
    </ul>
    <p class="govuk-body ">{{ detailsSummary.p }}</p>
    {% for item in details %}
      <h2 class="govuk-heading-m">{{ item.header }}</h2>
      {% if item.blocks %}
        {% for contentBlock in item.blocks %}
          {% if contentBlock.paragraph %}
            <p class="govuk-body">{{ contentBlock.paragraph }}</p>
          {% elif contentBlock.bulletList %}
            <ul class="govuk-list govuk-list--bullet">
              {% for bullet in contentBlock.bulletList %}
                <li>{{ bullet }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endfor %}
      {% else %}
        {% for paragraph in item.paragraphs %}
          <p class="govuk-body">{{ paragraph.text }}</p>
        {% endfor %}
      {% endif %}
    {% endfor %}
</div>

{% block form %}
  <form class="form" id="main-form" method="post" action="" novalidate="true">
    <input type="hidden" name="_csrf" value={{ csrfToken }}>
    <div class="govuk-button-group">
      {{ govukButton({
        text: continueToQuestions,
        preventDoubleClick: true,
        name: 'reasonableAdjustments',
        value: supportYes,
        attributes: {
          id: 'start-support-request'
        }
      })  }}

      {{ govukButton({
        text: noSupport,
        classes: 'govuk-button--secondary',
        preventDoubleClick: true,
        name: 'reasonableAdjustments',
        value: supportNo,
        attributes: {
          id: 'no-support-request'
        }
      })  }}

    </div>
  </form>
{% endblock %}
{% endblock %}
