{% extends "template.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block beforeContent %}
  {{ super() }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "back-link.njk" %}
        {% set tseRows = [] %}
        {% for app in tseGenericApps %}
          {% set tseRows = (tseRows.push(
            [
              {
                text: app.value.date
              },
              {
                html: "<a href=\"" + app.redirectUrl + "\" class=\"govuk-link\">" + app.linkValue + "</a>"
              },
              {
                text: app.value.status,
                classes: "govuk-tag govuk-tag" + app.statusColor
              }
            ]
          ), tseRows) %}
        {% endfor %}

        {{ govukTable({
          caption: yourAppsTitle,
          captionClasses: "govuk-heading-l",
          firstCellIsHeader: false,
          head: [
            {
              text: submitDate
            },
            {
              text: application
            },
            {
              text: status
            }
          ],
          rows: tseRows
        }) }}
    </div>

    <div class="govuk-grid-column-one-third-from-desktop">
      <p class="govuk-body">
        <a href="https://www.gov.uk/find-legal-advice" target="_blank">
          {{ findLegalAdvice }}
        </a>
      </p>

      {% set sideBarContent %}
        {% include "./citizen-hub-sidebar.njk" %}
      {% endset %}

      {{ govukDetails({
        summaryText: "Contact",
        html: sideBarContent
      }) }}
    </div>
  </div>
{% endblock %}

{% block footer %}
  {% include "./footer.njk" %}
{% endblock %}
