{% extends "template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block beforeContent %}
  {{ super() }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "back-link.njk" %}
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4 govuk-!-margin-top-1">{{ title }}</h1>

      <div class="govuk-button-group">
        {{ govukButton({
          text: submitBtn,
          type: "submit",
          classes: 'govuk-!-margin-right-6',
          preventDoubleClick: true,
          attributes: {
            id: 'main-form-submit'
          }
        }) }}
        <a class="govuk-link" href={{ cancelPage }}>{{ cancelLink }}</a>
      </div>
    </div>

    <div class="govuk-grid-column-one-third-from-desktop">
      <p class="govuk-body">
        <a href="https://www.gov.uk/find-legal-advice" target="_blank">
          {{ findLegalAdvice }}
        </a>
      </p>

      {% set sideBarContent %}
        {% include "./citizen-hub-sidebar.njk" %}
      {% endset %}

      {{ govukDetails({
        summaryText: contact,
        html: sideBarContent
      }) }}
    </div>
  </div>
{% endblock %}

{% block footer %}
  {% include "./footer.njk" %}
{% endblock %}
