{% extends "template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ super() }}
{% endblock %}

{% block content %}
  <div class="govuk-panel govuk-panel--confirmation">
    <h1 class="govuk-panel__title">
      {{ h1 }}
    </h1>
  </div>

  <h2 class="govuk-heading-m govuk-!-margin-bottom-4">{{ h2 }}</h2>
  <p class="govuk-body">{{ p }}</p>
  <p class="govuk-body">{{ p2 }}</p>

  <div class="govuk-button-group">
    {{ govukButton({
      text: buttonText,
      preventDoubleClick: true,
      href: link,
      attributes: {
        id: 'return-to-case-overview'
      }
    }) }}
  </div>
{% endblock %}
