{% extends "template.njk" %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block beforeContent %}
  {{ super() }}
  {% include "back-link.njk"%}
{% endblock %}

{% block content %}

  {% block errorSummary %}
    {% set yourSupportRedirectError = getError('yourSupportRedirect') %}
    {{
      govukErrorSummary({
        titleText: errorSummaryTitle,
        errorList: [
          {
            text: yourSupportRedirectError.text,
            href: '#start-support-request'
          }
        ]
      }) if yourSupportRedirectError
    }}
  {% endblock %}
      
<h1 class="govuk-heading-xl govuk-!-margin-bottom-4 ">{{ h1 }}</h1>
<p class="govuk-body">{{ p }}</p>
<div>
    <ul class="govuk-list govuk-list--bullet">
      <li>{{ detailsSummary.bullet1 }} </li>
      <li>{{ detailsSummary.bullet2 }} </li>        
      <li>{{ detailsSummary.bullet3 }} </li>
    </ul>
    <p class="govuk-body ">{{ detailsSummary.p }}</p>
    {% for item in details %}
      <h2 class="govuk-heading-m">{{ item.header }}</h2>
      {% for paragraph in item.paragraphs %}
        <p class="govuk-body">{{ paragraph.text }}</p>
      {% endfor %}
    {% endfor %}
</div>

<div class="govuk-button-group">
  {{ govukButton({
    text: startNow,
    preventDoubleClick: true,
    href: startLink,
    isStartButton: true,
    attributes: {
      id: 'start-support-request'
    }
  })  }}

  {% if cancelLink %}
    <a class="govuk-link" href={{ cancelLink }}>{{ cancel }}</a>
  {% endif %}
</div>
{% endblock %}
