{% extends "template.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block beforeContent %}
  {{ super() }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "back-link.njk" %}
      <table class="govuk-table">
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col"> {{ submitDate }} </th>
          <th class="govuk-table__header" scope="col"> {{ application }} </th>
          <th class="govuk-table__header" scope="col"> {{ status }} </th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
        {% for app in tseGenericApps %}
          {% if app.value.applicant === "Claimant" or app.value.applicant === "Claimant Representative" %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              {{ dateToLocale(app.value.date) }}
            </td>
            <td class="govuk-table__cell">
              <a href="{{ getContent(app.redirectUrl) }}" class="govuk-link"> {{ app.linkValue }} </a>
            </td>
            <td class="govuk-table__cell">
              {{ govukTag({
                text: app.displayStatus,
                classes: "no-text-transform govuk-tag" + app.statusColor
              }) }}
            </td>
          </tr>
           {% endif %}
        {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="govuk-grid-column-one-third-from-desktop">
      {% set sideBarContent %}
        {% include "./citizen-hub-sidebar.njk" %}
      {% endset %}

      <div class="govuk-!-margin-top-2">
        {{ govukDetails({
          summaryText: contact,
          html: sideBarContent
        }) }}
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}
  {% include "./footer.njk" %}
{% endblock %}
