{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% if field.values.length %}
  {{ govukSelect({
    id: field.id if field.id else fieldName,
    name: fieldName,
    label: {
      text: getContent(field.label),
      classes: labelClasses
    },
    items: formItems(field.values, userCase[fieldName] or ''),
    errorMessage: getError(fieldName)
  }) }}

  {{ govukButton({
    text: useThisAddress,
    classes: "govuk-button--secondary",
    preventDoubleClick: true,
    name: "selectAddress",
    value: "true",
    attributes: {
      id: "use-this-address"
    }
  }) }}
{% endif %}
