{% from "govuk/components/button/macro.njk" import govukButton %}

{{
      govukButton({
        text: getContent(form.upload.text),
        classes: form.upload.classes,
        type: "submit",
        preventDoubleClick: true,
        disabled: form.upload.disabled,
        attributes: {
          id: 'upload-form-submit'
        }
      }) if getContent(form.upload.text)
    }}