{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}

{{ govukCharacterCount({
  id: field.id if field.id else fieldName,
  name: fieldName,
  maxlength: 2500,
  label: {
    text: getContent(field.label) if not field.labelHidden else ""
  },
  hint: {
    html: getContent(field.hint)
  },
  attributes: field.attributes
}) }}
