<div class="govuk-inset-text">
  {% for fieldName, field in field.subFields %}
    {% set labelClasses %}{% if field.labelSize !== null%}govuk-label--{{ field.labelSize if field.labelSize else "m"}}{% endif %}{% endset %}
    {% if field.isCollapsable %}
      {% include "../collapsable.njk" %}
    {% else %}
      {% include "./" + field.type + ".njk" %}
    {% endif %}
  {% endfor %}
</div>
