apiVersion: v2
appVersion: '1.0'
description: A Helm chart for et-sya App
name: et-sya
home: https://github.com/hmcts/et-sya-frontend
version: 0.0.47
dependencies:
  - name: nodejs
    version: 3.2.0
    repository: 'oci://hmctspublic.azurecr.io/helm'
  - name: idam-pr
    version: 2.3.0
    repository: https://hmctspublic.azurecr.io/helm/v1/repo/
    condition: idam-pr.enabled
