nodejs:
  # Don't modify below here
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  keyVaults:
    et:
      resourceGroup: et
      secrets:
        - AppInsightsInstrumentationKey
        - idam-secret
        - redis-access-key
        - os-places-token
        - pcq-token-key
  environment:
    HOST: https://${SERVICE_FQDN}
idam-pr:
  enabled: true
  redirect_uris:
    ET Citizen Submit Your Appeal:
      - https://${SERVICE_FQDN}/oauth2/callback
