nodejs:
  # Don't modify below here
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  devmemoryLimits: 1024Mi
  devmemoryRequests: 512Mi
  keyVaults:
    et:
      resourceGroup: et
      secrets:
        - app-insights-connection-string
        - idam-secret
        - redis-access-key
        - os-places-token
        - pcq-token-key
        - launch-darkly-sdk-key
        - csrf-token-secret
idam-pr:
  enabled: true
  redirect_uris:
    ET Citizen Submit Your Appeal:
      - https://${SERVICE_FQDN}/oauth2/callback
