nodejs:
  applicationPort: 3001
  aadIdentityName: et
  ingressHost: et-sya.{{ .Values.global.environment }}.platform.hmcts.net
  image: 'hmctspublic.azurecr.io/et/sya:latest'
  #  Uncomment once the vault containing the app insights key has been set up
  keyVaults:
    et:
      resourceGroup: et
      secrets:
        - AppInsightsInstrumentationKey
        - idam-secret
        - redis-access-key
        - os-places-token
        - pcq-token-key
  environment:
    IDAM_WEB_URL: 'https://idam-web-public.{{ .Values.global.environment }}.platform.hmcts.net/login'
    IDAM_API_URL: 'https://idam-api.{{ .Values.global.environment }}.platform.hmcts.net/o/token'
    REDIS_HOST: 'et-sya-session-storage-{{ .Values.global.environment }}.redis.cache.windows.net'
    ET_SYA_API_HOST: 'https://et-sya-api-pr-166.service.core-compute-preview.internal'
    PCQ_URL: 'https://pcq.{{ .Values.global.environment }}.platform.hmcts.net/service-endpoint'
    PCQ_HEALTH_URL: 'https://pcq.{{ .Values.global.environment }}.platform.hmcts.net/health'
    PCQ_ENABLED: 'true'
idam-pr:
  enabled: false
