{% if claimantRepresented %}
  {% set htmlForClaimantRepresentedBanner %}
    <h3 class="govuk-notification-banner__heading">{{ notificationBanner.claimantRepresented.title }} {{claimantRepresented.myHmctsOrganisation.OrganisationName}}. </h3>
    <p class="govuk-body">
      {{ notificationBanner.claimantRepresented.p1 }}
    </p>
    <ul class="govuk-list govuk-list--bullet">
        <li>{{ notificationBanner.claimantRepresented.l1 }}</li>
        <li>{{ notificationBanner.claimantRepresented.l2 }}</li>
    </ul>
  {% endset %}
  {{ govukNotificationBanner({
    html: htmlForClaimantRepresentedBanner,
    titleText: important
  }) }}
{% endif %}
