{% if showNotificationsBanner %}
  {% set htmlForOrderOrRequestReceived %}
    <h3 class="govuk-notification-banner__heading">
      {% if order.needsResponse %}
        {{ notificationBanner.orderOrRequest.responseRequired }}
      {% else %}
        {{ notificationBanner.orderOrRequest.noResponseRequired }}
      {% endif %}
    </h3>

    {% for order in notifications %}
      {% if order.showAlert %}
        <p class="govuk-body">
          {% if order.needsResponse %}
            <a class="govuk-link" href="{{ order.respondUrl }}">{{ notificationBanner.orderOrRequest.respond }} - {{ order.value.sendNotificationTitle }}</a>
          {% else %}
            <a class="govuk-link" href="{{ order.redirectUrl }}">{{ notificationBanner.orderOrRequest.link }} - {{ order.value.sendNotificationTitle }}</a>
          {% endif %}
        </p>
      {% endif %}
    {% endfor %}
  {% endset %}

  {{ govukNotificationBanner({
    html: htmlForOrderOrRequestReceived,
    titleText: important
  }) }}
{% endif %}
